<form [formGroup]="countryFormInitialForm" (ngSubmit)="OnSaveForms()">
    <div class="content">
        <div class="card">
            <div class="card-header text-center mt-5">
                <h1>{{data.title}}</h1>
            </div>
            <div class="intro-y box p-5 mt-12 sm:mt-5">
                <div class="grid grid-cols-12 gap-5 mt-5">
                   

                        <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                            <label class="control-label font-weight-bold">{{"ArabicName"|translate}}
                                <span class="required-asterisk">*</span>
                            </label>
                            <input type="text" class="input border w-full mt-1" formControlName="descrA">
                        </div>
                        <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                            <label class="control-label font-weight-bold">{{"EnglishName"|translate}}
                                <span class="required-asterisk">*</span>
                            </label>
                            <input type="text" class="input border w-full mt-1" formControlName="descrE">
                        </div>
                    

                        <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                            <label class="control-label font-weight-bold">{{"notes"|translate}}</label>
                            <input type="text" class="input border w-full mt-1" formControlName="note">
                        </div>

                        <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">
                            <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4" styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                            [disabled]="countryFormInitialForm.invalid"  type="submit"></p-button>
                            <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                                styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white p-button p-component" (click)="dialogRef.close(false)"></p-button>
                        </div>

                    </div>
                   

                </div>
            </div>
       
    </div>
</form>