<div class="container">
    <div style="display:flex">
        <div style="width:25%; margin: 10px;" >
            <div style="margin-bottom: 1rem">
                <p-button label='{{"ExpandAll"|translate}}'
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    icon="pi pi-plus" (click)="expandAllTree()"></p-button>
                <p-button label='{{"CollapseAll"|translate}}'
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    icon="pi pi-plus" (click)="collapseAllTree()"></p-button>
            </div>
            <p-tree [value]="treeData" [filter]="true" selectionMode="single" (onNodeSelect)="OpenTreeAccountForm($event)"></p-tree>
        </div>
        <div style="width:75%">
            <p-treeTable #tt [value]="tabelData" [columns]="cols" [lazy]="false" [filterMode]="filterMode"
                [loading]="loading" class="p-datatable-table" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}">
                <ng-template pTemplate="caption">
                    <div class="grid grid-cols-12 gap-5 ">
                        <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1 mb-5">
                            <div class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" class="pInputText input border w-full mt-1" pInputText
                                    placeholder='{{"search"|translate}}'
                                    (input)="tt.filterGlobal($event.target.value, 'contains')" />
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 ">
                            <p-button label='{{"AddNew"|translate}}'
                                styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                                icon="pi pi-plus" (click)="OpenAccountForm(0)"></p-button>
                        </div>
                        <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 ">
                            <!-- Hidden File Input -->
                            <input type="file" #fileInput (change)="ImportFromExcel($event)" accept=".xlsx, .xls" style="display: none;" />

                            <!-- PrimeNG Button *ngIf="tabelData.length === 0"-->
                             <p-button label='{{"ImportFromExcel"|translate}}'   *ngIf="tabelData.length === 0"
                                styleClass="p-ripple p-element button w-48 mr-2 mb-2 items-center justify-center bg-theme-1 text-white p-button p-component"
                                icon="pi pi-plus" 
                                (click)="fileInput.click()">
                            </p-button>
                        </div>
                        <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 ">
                            <input type="checkbox" name="myCheckboxName" class="input border w-full mt-1 "
                                (change)="onCheckboxChange($event)" [ngModelOptions]="{standalone: true}">
                            <label for="myCheckbox" class="ml-2">{{"ShowSuspendedAccounts"|translate}}</label>
                        </div>
                        <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1" align="end">
                            <i class="pi pi-star-fill mb-4"
                                [ngClass]="{'custom-star-icon': custom, 'custom-star-icon2': !custom}"
                                (click)="updateFavourite(this.screenId)" title="{{'AddToFavourite' | translate}}"
                                tooltipposition="bottom">
                            </i>
                            <button type="button" pButton icon="pi pi-window-maximize" style="font-size: 1.5rem"
                                class="button px-2 mr-1 mb-2 text-gray-700" pTooltip='{{"ExpandAll"|translate}}'
                                tooltipPosition="top" (click)="expandAll()"></button>
                            <button type="button" pButton icon="pi pi-window-minimize" style="font-size: 1.5rem"
                                class="button px-2 mr-1 mb-2 text-gray-700" pTooltip='{{"CollapseAll"|translate}}'
                                tooltipPosition="top" (click)="collapseAll()"></button>
                            <button title="{{'ExportToExcel' | translate}}" class="mr-2" type="button" pbutton=""
                                pripple="" icon="pi pi-file-excel" ptooltip="XLS" (click)="exportExcel()" 
                                tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                                <img src="../../../../assets/dist/images/icons/excel.svg" width="20px">
                            </button>
                            <button title="{{'ExportToPdf' | translate}}" class="mr-2" type="button" pbutton=""
                                pripple="" icon="pi pi-file-excel" ptooltip="PDF" (click)="exportPdf()" 
                                tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                                <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px">
                            </button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>

                    <tr>
                        <th class="head_tb" style="width: 5%">*</th>
                        <th class="head_tb" style="width: 10%" ttSortableColumn="accNo">{{"AccountNo"|translate}} </th>
                        <th class="head_tb" ttSortableColumn="accName">{{"AccountName"|translate}}</th>

                        <th class="head_tb" ttSortableColumn="parentAccName">{{"ParentAccount"|translate}}
                            <p-treeTableSortIcon field= "parentAccName"></p-treeTableSortIcon>
                        </th>
                        <th class="head_tb" ttSortableColumn="accTypeName">{{"AccountType"|translate}}
                            <p-treeTableSortIcon field="accTypeName"></p-treeTableSortIcon></th>
                        <th class="head_tb" ttSortableColumn="accNatureName">{{"AccountNature"|translate}}
                            <p-treeTableSortIcon field="accNatureName"></p-treeTableSortIcon>
                        </th>
                        <th class="head_tb" ttSortableColumn="isMain">{{"Branched"|translate}}
                            <p-treeTableSortIcon field="isMain"></p-treeTableSortIcon>
                        </th>
                        <th class="head_tb" ttSortableColumn="isActive">{{"Active"|translate}} <p-treeTableSortIcon
                                field="isActive"></p-treeTableSortIcon></th>
                        <th style="width: 5%"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                        <!-- <th class="head_tb" ttSortableColumn="isActive">{{"Test"|translate}}</th> -->
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                    <tr [ngStyle]="{'background-color': rowData?.isMain ? '#d1e7dd' : ''}">
                        <!-- <tr [ngClass]="{ 'p-highlight': rowData?.isMain === true }"> -->
                        <td style="width: 5%">
                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                            <!-- {{ rowData?.accNo }} -->
                        </td>
                        <td style="text-align: justify;">{{rowData?.accNo}}</td>
                        <td style="text-align: justify;">{{rowData?.accName}}</td>
                        <td style="text-align: justify;">{{rowData?.parentAccName}}</td>
                        <td style="text-align: justify;">{{rowData?.accTypeName}}</td>
                        <td style="text-align: justify;">{{rowData?.accNatureName}}</td>
                        <td style="text-align: justify;"><input id="check_{{rowData.id}}" [checked]="rowData?.isMain"
                                disabled type="checkbox" class="input border mr-2 mr-3 ml-3" /></td>
                        <td style="text-align: justify;"><input id="check2_{{rowData.id}}" [checked]="rowData?.isActive"
                                disabled type="checkbox" class="input border mr-2 mr-3 ml-3" /></td>
                        <td style="width: 5%">
                            <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                                <mat-icon class="">more_vert</mat-icon>
                            </button>
                            <mat-menu #userMenu="matMenu">
                                <button mat-menu-item (click)="OpenAccountForm(rowData.id)">
                                    <i class="material-icons" style="color:blue">edit</i> &nbsp;{{"Edit"|translate}}
                                </button>
                                <button mat-menu-item (click)="OpenSubAccountForm(rowData.id)" *ngIf="rowData?.isMain">
                                    <i class="pi pi-sitemap" style="color:blue"></i> &nbsp;{{"AddSubAcc"|translate}}
                                </button>
                                <button mat-menu-item (click)="DeleteAccount(rowData.id)"> <i class="material-icons"
                                        style="color:red">delete</i>
                                    &nbsp;{{"Delete"|translate}} </button>
                                <button mat-menu-item (click)="OpenAccountStatementForm(rowData.id)" *ngIf="!rowData?.isMain">
                                    <i class="material-icons" style="color:green">list_alt</i>
                                    &nbsp;{{"AccountStatement"|translate}} </button>
                                <button mat-menu-item (click)="updateDashboredStatus(rowData.id)" *ngIf="!rowData?.isMain && rowData.showDashbored ==false"> <i
                                        class="material-icons" style="color:blue">home</i>
                                    &nbsp;{{"ShowInDashboard"|translate}} </button>
                                <button mat-menu-item (click)="updateDashboredStatus(rowData.id)" *ngIf="!rowData?.isMain && rowData.showDashbored ==true"> <i
                                        class="material-icons" style="color:blue">home</i>
                                    &nbsp;{{"HideInDashboard"|translate}} </button>
                            </mat-menu>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="cols.length" style="text-align: center !important">
                            {{"ThereisNoData"|translate}}
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
            <br>
        </div>
    </div>
</div>