legend h1 {
    &:lang(ar) {  text-align: right;}
    &:lang(en) {  text-align: left;}


   
    position: relative;
    bottom: 3rem;
    font-size: 1rem;
    background-color: #ffffff;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
legend h3 {

    &:lang(ar) {  text-align: right;}
    &:lang(en) {  text-align: left;}


   
    position: relative;
    bottom: 3rem;
    font-size: 1rem;
    background-color: #ffffff;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

}
legend {
    border-radius: 0.5rem;
    border: 0.1rem solid #ced4da;
    padding: 2rem;
}