<div class="intro-y box px-5 pb-5 mb-5">
    <div [hidden]="showLoader">


        <form [formGroup]="ProductPricesForCountriesForm" (ngSubmit)="OnSaveForms()">

            <input hidden formControlName="id" >

            <div class="grid grid-cols-12 gap-5 mt-5">
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class=" font-weight-bold">{{"COUNTRY"|translate}}<span class="required-asterisk">*</span></label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="CountryList"
                        formControlName="countryId" [style]="{'minWidth':'100%', 'width': '100%'}"
                        styleClass="input border w-full mt-1" optionLabel="text" optionValue="id" [filter]="true"
                        filterBy="text" appendTo="body" autoWidth="false" [virtualScroll]="false"
                        (onChange)="getCustomers($event.value)"
                        [ngClass]="{ 'invalid-field': ProductPricesForCountriesForm.get('countryId').value <= 0}">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class=" font-weight-bold">{{"Agent"|translate}}</label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="filteredAgentsList"
                        formControlName="agentId" [style]="{'minWidth':'100%', 'width': '100%'}"
                        styleClass="input border w-full mt-1" optionLabel="text" optionValue="data1" [filter]="true"
                        filterBy="text" appendTo="body" autoWidth="false" [virtualScroll]="false">
                    </p-dropdown>
                </div>

                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class=" font-weight-bold">{{"Product"|translate}}<span class="required-asterisk">*</span></label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="itemsList"
                        formControlName="itemNo" [style]="{'minWidth':'100%', 'width': '100%'}"
                        styleClass="input border w-full mt-1" optionLabel="text" optionValue="data1" [filter]="true"
                        filterBy="text" appendTo="body" autoWidth="false" [virtualScroll]="false"
                        [ngClass]="{ 'invalid-field': ProductPricesForCountriesForm.get('itemNo').value <= 0}">
                    </p-dropdown>
                </div>  

                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"price"|translate}}<span class="required-asterisk">*</span></label>
                    <input type="text" class="input border w-full mt-1" formControlName="price"
                    [ngClass]="{ 'invalid-field': ProductPricesForCountriesForm.get('price').value <= 0}">
                </div>

                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-6">
                    <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4" type="submit"
                        [disabled]="ProductPricesForCountriesForm.invalid"
                        styleClass="p-ripple p-element button w-32 mr-2 mb-4 flex items-center justify-center bg-theme-1 text-white p-button p-component">
                    </p-button>
                </div>

            </div>
        </form>

        <br>

        <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
            <div class="intro-y box tab-content">
                <div class="intro-y box px-5 pt-5 pb-5">

                    <p-table #dt [value]="data" [rows]="10" [paginator]="true"
                        [globalFilterFields]="['countryName','agentName','itemName','price']" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll" [rowHover]="true" dataKey="id"
                        currentPageReportTemplate="{{'showing'|translate}} {first} {{'to'|translate}}  {last} {{'of'|translate}} {totalRecords} {{'entries'|translate}}"
                        [showCurrentPageReport]="true">

                        <ng-template pTemplate="caption">
               
                               <div class="grid grid-cols-12 gap-5 ">
               
                                   <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 mb-5">
                                       <span class="p-input-icon-left">
                                           <i class="pi pi-search"></i>
                                           <input class="pInputText input border w-full mt-1" pInputText type="text"
                                               (input)="dt.filterGlobal($event.target.value, 'contains')"
                                               placeholder=' {{"search"|translate}} ' />
                                       </span>
                                   </div>
               
                                   <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-4 ">
                                     <!--   <p-button label='{{"AddNew"|translate}}'
                                       styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                                       icon="pi pi-plus" (click)="navigateToFixedAssetsListFormPopUp(0,{},true)"></p-button> -->
                                   </div> 
               
               
                                   <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mt-5" align="end">

                                    <i class="pi pi-star-fill"
                                        [ngClass]="{'custom-star-icon': custom, 'custom-star-icon2': !custom}"
                                        (click)="updateFavourite(this.screenId)"
                                        title="{{'AddToFavourite' | translate}}" tooltipposition="bottom">
                                    </i>
                                      
                                       <button title="{{'ExportToExcel' | translate}}" class="mr-2" type="button" pbutton=""
                                       pripple="" icon="pi pi-file-excel" ptooltip="XLS" (click)="exportExcel(dt)"
                                       tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                                       <img src="../../../../assets/dist/images/icons/excel.svg" width="20px">
                                       </button>
                                       
                                       <button title="{{'ExportToPdf' | translate}}" class="mr-2" type="button" pbutton=""
                                               pripple="" icon="pi pi-file-excel" ptooltip="PDF" (click)="exportPdf(dt)"
                                               tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                                               <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px">
                                       </button>
                                   </div>
                               </div>
                           </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="head_tb" pSortableColumn="countryName">{{"COUNTRY"|translate}}</th>
                                <th class="head_tb" pSortableColumn="agentName">{{"Agent"|translate}}</th>
                                <th class="head_tb" pSortableColumn="itemName">{{"Product"|translate}}</th>                                
                                <th class="head_tb" pSortableColumn="price">{{"price"|translate}}</th>
                                <th class="text-center-m"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" class=".p-datatable-tbody " let-production>
                            <tr>
                                <td style="text-align: justify;">{{production.countryName}}</td>
                                <td style="text-align: justify;">{{production.agentName}}</td>
                                <td style="text-align: justify;">{{production.itemName}}</td>
                                <td style="text-align: justify;">{{production.price}} </td>
                                <td style="width:5%">
                                    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                                        <mat-icon class="">more_vert</mat-icon>
                                    </button>
                                    <mat-menu #userMenu="matMenu">

                                        <button mat-menu-item
                                            (click)="navigateToProductPricesForCountriesForm(production.id)">
                                            <i class="material-icons" style="color:blue">edit</i>
                                            &nbsp;{{"Edit"|translate}}
                                        </button>

                                        <button mat-menu-item
                                            (click)="DeleteProductPricesForCountriesForm(production.id, production)"> <i
                                                class="material-icons" style="color:red">delete</i>
                                            &nbsp;{{"Delete"|translate}}
                                        </button>

                                    </mat-menu>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr class="odd">
                                <td valign="top" colspan="4">
                                    {{"noEntriesFoundLabel"|translate}}</td>
                            </tr>
                        </ng-template>

                    </p-table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>