<div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
    <div class="intro-y box px-5 pb-5 " style="text-align: center;">
        <div class="grid grid-cols-12 gap-5 pt-5">


            <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                <label class="control-label font-weight-bold">{{"ProductedItem"|translate}}</label>
                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="ItemsList"
                    styleClass="input border w-full mt-1" optionLabel="text" optionValue="id" [filter]="true"
                    filterBy="text" appendTo="body" autoWidth="false" [(ngModel)]="this.itemId"
                    >
                </p-dropdown>
            </div>

            <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                <label class="control-label font-weight-bold">{{"MaterialItem"|translate}}</label>
                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="MaterialList"
                    styleClass="input border w-full mt-1" optionLabel="text" optionValue="id" [filter]="true"
                    filterBy="text" appendTo="body" autoWidth="false" [(ngModel)]="this.materialId">
                </p-dropdown>
            </div>

            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 flex items-center space-x-2 mt-6">

                <p-button label='{{"ShowRecord"|translate}}'
                    styleClass="p-ripple p-element button w-32 items-center justify-center bg-theme-1 text-white p-button p-component"
                    icon="" (click)="GetReport()">
                </p-button>

                &nbsp;

                <p-button label='{{"NewSearch"|translate}}' (onClick)="clearFormData()"
                    styleClass="p-ripple p-element button w-32 items-center justify-center bg-theme-1 text-white p-button p-component">
                </p-button>

            </div>

        </div>
    </div>
</div>

<div class="container">
    <p-table #dt [value]="tabelData" [rows]="40" [paginator]="true"
        [globalFilterFields]="['productedItem','materialItem','qty','cost']" styleClass="p-datatable-gridlines"
        responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Show {first} To  {last} Of {totalRecords}" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" paginatorDropdownAppendTo="body">
        <ng-template pTemplate="caption">
            <div class="grid grid-cols-12 gap-5 ">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 mb-5 ">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="pInputText input border w-full mt-1 " pInputText type="text"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder=' {{"search"|translate}} ' />
                    </span>
                </div>

                <div class="col-span-12 sm:col-span-10 xxl:col-span-10 cursor-pointer mt-5" align="end">
                    <i class="pi pi-star-fill" [ngClass]="{'custom-star-icon': custom, 'custom-star-icon2': !custom}"
                        (click)="updateFavourite(this.screenId)" title="{{'AddToFavourite' | translate}}"
                        tooltipposition="bottom">
                    </i>
                    <button title="{{'ExportToExcel' | translate}}" class="mr-2" type="button" pbutton="" pripple=""
                        icon="pi pi-file-excel" ptooltip="XLS" (click)="exportExcel()" tooltipposition="bottom"
                        class="button px-2 mr-1 mb-2 text-gray-700">
                        <img src="../../../../assets/dist/images/icons/excel.svg" width="20px">
                    </button>
                    <button title="{{'ExportToPdf' | translate}}" class="mr-2" type="button" pbutton="" pripple=""
                        icon="pi pi-file-excel" ptooltip="PDF" (click)="exportPdf()" tooltipposition="bottom"
                        class="button px-2 mr-1 mb-2 text-gray-700">
                        <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px">
                    </button>
                </div>
            </div>
        </ng-template>
        <!-- <ng-template pTemplate="caption">
        
        <div class="grid grid-cols-12 gap-5 ">
    
     
            
            <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-5" align="end">
                <i class="pi pi-star-fill" 
                    [ngClass]="{'custom-star-icon': custom, 'custom-star-icon2': !custom}"
                    (click)="updateFavourite(this.screenId)"
                    title= "{{'AddToFavourite' | translate}}"
                    tooltipposition="bottom">
                </i>
                <button title="{{'ExportToExcel' | translate}}" class="mr-2" type="button" pbutton=""
                pripple="" icon="pi pi-file-excel" ptooltip="XLS" (click)="exportExcel()"
                tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                <img src="../../../../assets/dist/images/icons/excel.svg" width="20px">
                </button>
                <button title="{{'ExportToPdf' | translate}}" class="mr-2" type="button" pbutton=""
                        pripple="" icon="pi pi-file-excel" ptooltip="PDF" (click)="exportPdf()"
                        tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                        <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px">
                </button>
            </div>
        </div>
    </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <th class="head_tb">{{"ProductedItem"|translate}}</th>
                <th class="head_tb">{{"MaterialItem"|translate}}</th>
                <th class="head_tb">{{"Quantity"|translate}}</th>
                <th class="head_tb">{{"Cost"|translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" class=".p-datatable-tbody " let-MarInvoiceList>
            <tr>
                <td style="text-align: justify;">{{MarInvoiceList.productedItem}}</td>
                <td style="text-align: justify;">{{MarInvoiceList.materialItem}}</td>
                <td style="text-align: justify;">{{MarInvoiceList.qty | number:'1.3-3'}}</td>
                <td style="text-align: justify;">{{MarInvoiceList.cost | number:'1.3-3'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="odd">
                <td valign="top" colspan="8"> {{"noEntriesFoundLabel"|translate}}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="footer">
            <tr>
                <td valign="top"> </td>
                <td>{{"total"|translate}}</td>
                <td colspan="1"></td>
                <td>{{calculateTotalCost()}}</td>
            </tr>
        </ng-template>
    </p-table>



</div>
<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>