<p-table #dt [value]="itemsAddinfoFormArray.controls" styleClass="p-datatable-gridlines" dataKey="id">
    <ng-template pTemplate="caption">
        <div class="row mb-8">
            <div class="col-md-6">
                <i class="material-icons cursor-pointer" [ngStyle]="{'color': isViewMode ? '#898989' : 'green'}"
                    style="color:green" (click)="addNewRow()">add_box</i>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>{{"Info"|translate}}
            <th>{{"Statement"|translate}}            
            <th><i class="pi pi-cog" style="font-size: 1.2rem"></i>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" class="p-datatable-tbody" let-itemsdealersFormGroup let-i="rowIndex">
        <tr [formGroup]="itemsdealersFormGroup">
            <td style="width:15%">
                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="itemInfoList"
                    [style]="{'minWidth':'100%', 'width': '100%'}" optionLabel="text" optionValue="id" [filter]="true"
                    filterBy="text" appendTo="body" autoWidth="false" [virtualScroll]="false"
                    [formControl]="itemsdealersFormGroup.get('infoId')">
                </p-dropdown>
            </td>
            <td style="width:60%">
                <input type="text"
                    [ngClass]="{ 'invalid-field': itemsdealersFormGroup.get('description').touched && itemsdealersFormGroup.get('description').invalid }"
                    formControlName="description" class="input border w-full mt-1 ">
            </td>                                                
            <td style="width:5%">
                <i class="material-icons cursor-pointer" (click)="deleteRow(i)"
                    [ngStyle]="{'color': isViewMode ? '#898989' : 'red'}">delete</i>
            </td>
        </tr>
    </ng-template>
</p-table>