<br>
<div class="container intro-y box px-5 pb-5 mb-5">
    <div class="grid grid-cols-12 gap-5 pt-5">
        <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">

            <p-table #dt [value]="tabelData" [rows]="10" [paginator]="true"
            [globalFilterFields]="['number','currName','exchangeRate','symbol','decimalPlaces']"
            styleClass="p-datatable-gridlines"
                responsiveLayout="scroll" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="{{'showing'|translate}} {first} {{'to'|translate}}  {last} {{'of'|translate}} {totalRecords} {{'entries'|translate}}"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">


                    <div class="grid grid-cols-12 gap-5 ">

                        <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 ">

                            <p-button label='{{"AddNew"|translate}}'
                                styleClass="p-ripple p-element button w-full mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                                icon="pi pi-plus" (click)="OpenCurrencyFormPopUp(0,true)"></p-button>
                        </div>
                        <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1 ">

                            <p-button label='{{"ImportFormOtherCompanies"|translate}}'
                                styleClass="p-ripple p-element button w-full mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                                icon="pi pi-plus"  (click)="OpenImportCompaniesFormPopUp(0)"></p-button>
                        </div>

                        <div class="col-span-12 sm:col-span-7 xxl:col-span-7 cursor-pointer mt-1 "></div>

                        <div class="col-span-12 sm:col-span-5 xxl:col-span-5 cursor-pointer mt-1 mb-5">

                           
                            <input class="pInputText input border w-full mt-1" pInputText type="text"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder='{{"search"|translate}} ' />

                        </div>

                       

                        <div class="col-span-12 sm:col-span-7 xxl:col-span-7 cursor-pointer mt-5" align="end">
                            <i class="pi pi-star-fill" 
                                [ngClass]="{'custom-star-icon': custom, 'custom-star-icon2': !custom}"
                                (click)="updateFavourite(this.screenId)"
                                title= "{{'AddToFavourite' | translate}}"
                                tooltipposition="bottom">
                             </i>
                            <button title="{{'ExportToExcel' | translate}}" class="mr-2" type="button" pbutton=""
                                pripple="" icon="pi pi-file-excel" ptooltip="XLS" (click)="exportExcel()"
                                tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">

                                <img src="../../../../assets/dist/images/icons/excel.svg" width="20px">
                            </button>
                            <button title="{{'ExportToPdf' | translate}}" class="mr-2" type="button" pbutton=""
                                pripple="" icon="pi pi-file-excel" ptooltip="PDF" (click)="exportPdf()"
                                tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">

                                <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px">
                            </button>

                        </div>

                    </div>


                    
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="head_tb" pSortableColumn="number">{{"number"|translate}} </th>
                        <th class="head_tb" pSortableColumn="currName">{{"Name"|translate}}</th>
                        <th class="head_tb" pSortableColumn="exchangeRate">{{"CurrencyRatio"|translate}} </th>
                        <th class="head_tb" pSortableColumn="symbol">{{"Symbol"|translate}} </th>
                        <th class="head_tb" pSortableColumn="decimalPlaces">{{"DecimalPlaces"|translate}} </th>
                        <th class="text-center-m"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                    </tr>
                </ng-template>


                <ng-template pTemplate="body" class=".p-datatable-tbody " let-currency>
                    <tr>
                        <td style="text-align: justify;">{{currency.number}}</td>
                        <td style="text-align: justify;">{{currency.currName}}</td>
                        <td style="text-align: justify;">{{currency.exchangeRate}}</td>
                        <td style="text-align: justify;">{{currency.symbol}}</td>
                        <td style="text-align: justify;">{{currency.decimalPlaces}}</td>
                        <td style="width:5%">
                            <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                                <mat-icon class="">more_vert</mat-icon>
                            </button>
                            <mat-menu #userMenu="matMenu">
                                <button mat-menu-item (click)="OpenCurrencyFormPopUp(currency.id,false)">
                                    <i class="material-icons" style="color:blue">edit</i> &nbsp;{{"Edit"|translate}}
                                </button>
                                <button mat-menu-item (click)="DeleteCurrency(currency.id)"> <i class="material-icons"
                                        style="color:red">delete</i>
                                    &nbsp;{{"Delete"|translate}} </button>
                            </mat-menu>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="odd">
                        <td valign="top" colspan="7"> {{"noEntriesFoundLabel"|translate}}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>
<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>