<div class="intro-y box px-5 pb-5 mb-5">
    <div [hidden]="showLoader">
        <br>

        <form [formGroup]="NotificationsSettingsForm" (ngSubmit)="OnSaveForms()"> 
            <input type="text"  hidden>

            <div class="grid grid-cols-12 gap-5 mt-5">

                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"VoucherType"|translate}}<span class="required-asterisk">*</span></label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                        autoWidth="false" [virtualScroll]="false" [options]="VoucherTypeList" formControlName="voucherTypeId"
                        (onChange)="getVocherType($event)">
                    </p-dropdown>
                </div>

              <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">  
                <div class="intro-y box tab-content">
                        <div class="intro-y box px-5 pt-5 pb-5">
                               <p-table #dt  dataKey="id" [value]="WorkflowsList" [loading]="loading" [scrollable]="true"
                                [paginator]="false" [style]="{width:'100%'}" [responsive]="true"
                                [resizableColumns]="true" styleClass="p-datatable-gridlines"
                                [rowHover]="true" scrollDirection="horizontal">

                                <ng-template pTemplate="caption">
                                    <div class="grid grid-cols-12 gap-5 ">
                                        <div
                                            class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mb-5">
                                            <p-button label='{{"AddLine"|translate}}'
                                                styleClass="p-ripple p-element button w-32 mr-2 mb-5  items-center justify-center bg-theme-1 text-white p-button p-component"
                                                icon="pi pi-plus" (click)="AddNewLine()"></p-button>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="head_tb" pSortableColumn="chequeAccId">{{"WhenOperation"|translate}}</th>
                                        <th class="head_tb" pSortableColumn="chequeNo">{{"SendResultTo"|translate}}</th>
                                        <th style="flex: 0 0 5%" pSortableColumn="chequeAccId"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" class=".p-datatable-tbody" let-row let-i="rowIndex">
                                    <tr>

                                        <td style="text-align: justify;">
                                            <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                                optionLabel="text" optionValue="id" [filter]="true" filterBy="text" [options]="OperationList"
                                                appendTo="body" autoWidth="false" [virtualScroll]="false" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="row.operationId" >
                                            </p-dropdown>
                                        </td>

                                        <td style="text-align: justify;">
                                            <p-multiSelect emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="UserList"
                                            [style]="{'minWidth':'100%', 'width': '100%'}" optionLabel="text"  [virtualScroll]="false" 
                                            styleClass="input border w-full mt-1" optionValue="id"  [filter]="true" filterBy="text" appendTo="body" autoWidth="false"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="row.userIds" >
                                            </p-multiSelect>
                                        </td>
                                      
                                        <td style="flex: 0 0 5%">
                                            <button mat-menu-item (click)="deleteRow(i)"> <i
                                                    class="material-icons" style="color:red">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>



                                <ng-template pTemplate="emptymessage">
                                    <tr class="odd">
                                        <td valign="top" colspan="10">
                                            {{"noEntriesFoundLabel"|translate}}</td>
                                    </tr>
                                </ng-template>

                            </p-table>
                        </div>
                </div>
              </div>
            </div>

            <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">

                <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4" type="submit" [disabled]="NotificationsSettingsForm.invalid"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component">
                </p-button>
            </div>

        </form>
    </div>
</div>

<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
