<div class="container">
    <p-table #dt [value]="tabelData" [rows]="10" [paginator]="true" 
          [globalFilterFields]="['qaNo','itemName','manfOrderNo','batchNo','userName','transDate','notes']"  paginatorDropdownAppendTo="body"
        styleClass="p-datatable-gridlines" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{{'showing'|translate}} {first} {{'to'|translate}}  {last} {{'of'|translate}} {totalRecords} {{'entries'|translate}}"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <div class="grid grid-cols-12 gap-5 ">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 mr-1">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="pInputText input border w-full mt-1" pInputText type="text"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder=' {{"search"|translate}} ' />
                    </span>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-3" >
                    <p-button label='{{"AddNew"|translate}}' icon="pi pi-plus" 
                    styleClass="p-ripple p-element button w-32 mr-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    type="bottom" (click)="AddNew(0)"></p-button>
                </div>
                <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mt-1" align="end">
                    <button title="{{'ExportToExcel' | translate}}" class="mr-2" type="button" pbutton=""
                    pripple="" icon="pi pi-file-excel" ptooltip="XLS" (click)="exportExcel(dt)"
                    tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                    <img src="../../../../assets/dist/images/icons/excel.svg" width="20px">
                    </button>
                    <button title="{{'ExportToPdf' | translate}}" class="mr-2" type="button" pbutton=""
                            pripple="" icon="pi pi-file-excel" ptooltip="PDF" (click)="exportPdf(dt)"
                            tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                            <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px">
                    </button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 10%" pSortableColumn="qANo">{{"TransNumber"|translate}} <p-sortIcon field="qANo"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="itemName">{{"materialName"|translate}} <p-sortIcon field="itemName"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="manfOrderNo">{{"manfOrderNo"|translate}} <p-sortIcon field="manfOrderNo"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="batchNo">{{"batchNumber"|translate}} <p-sortIcon field="batchNo"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="userName">{{"Username"|translate}} <p-sortIcon field="userName"></p-sortIcon> </th>
                <th style="width: 20%" pSortableColumn="transDate">{{"TransDate"|translate}} <p-sortIcon field="transDate"></p-sortIcon> </th>
                <th style="width: 20%" pSortableColumn="transDate">{{"Note"|translate}} <p-sortIcon field="transDate"></p-sortIcon> </th>
                <th style="width: 5%"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" class=".p-datatable-tbody " let-prodOrders>
            <tr>
                <td>{{prodOrders.qaNo}}</td>
                <td>{{prodOrders.itemName}}</td>
                <td>{{prodOrders.manfOrderNo}}</td>
                <td>{{prodOrders.batchNo}}</td>
                <td>{{prodOrders.userName}}</td>
                <td>{{prodOrders.transDate|date:'yyyy/MM/dd'}}</td>
                <td>{{prodOrders.notes}}</td>

                <td style="width:5%">
                    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                        <mat-icon class="">more_vert</mat-icon>
                    </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="ShowQA(prodOrders.id)"> 
                            <i class="material-icons" style="color:blue">visibility</i> &nbsp;{{"showDetails"|translate}} 
                        </button>

                        <button mat-menu-item (click)="EditProdOrder(prodOrders.id,false)" >
                            <i class="material-icons" style="color:green">edit</i> &nbsp;{{"Edit"|translate}} 
                        </button>

                        <button mat-menu-item (click)="DeleteQA(prodOrders.id)" > 
                            <i class="material-icons" style="color:red">delete</i> &nbsp;{{"Delete"|translate}} 
                        </button>

                        <button mat-menu-item (click)="PrintQaproduction(prodOrders.id)"> 
                            <i class="material-icons" style="color:rgba(0, 119, 255, 0.836)">print</i> &nbsp;{{"PrintAction"|translate}}
                        </button>

                        <!--<button mat-menu-item (click)="CopyProdOrder(prodOrders.id)"> 
                            <i class="material-icons" style="color:rgba(0, 255, 242, 0.507)">file_copy</i> &nbsp;{{"VoucherCopy"|translate}} </button>
                        <button mat-menu-item (click)="ApproveprodOrder(prodOrders.id)"> 
                            <i class="material-icons" style="color:green">check</i> &nbsp;{{"Approval"|translate}} </button>
                         <button mat-menu-item (click)="AttachmentEntryvoucher(prodOrders.id)" > 
                            <i class="material-icons" style="color:black">attachment</i> &nbsp;{{"Attachments"|translate}} </button>                         -->
                    </mat-menu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="odd">
                <td valign="top" colspan="9"> {{"noEntriesFoundLabel"|translate}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
