<br>
<div class="intro-y box px-5 pb-5 mb-5">
    <div [hidden]="showLoader">

        <form [formGroup]="CompanyAddForm" (ngSubmit)="OnSaveForms()">
            <input type="text" formControlName="id" class="form-control" hidden>
            <div class="grid grid-cols-12 gap-5 pt-5">

                <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                    <label for="groupID" class="control-label font-weight-bold">{{"Group"|translate}}  </label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="groupList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="groupID" filterBy="text"
                        appendTo="body" autoWidth="false" [virtualScroll]="false" [(ngModel)]="selectedGroup">
                    </p-dropdown>
                </div>

                <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                    <label for="activityID" class="control-label font-weight-bold">{{"COMPANYACTIVITY"|translate}} </label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="companyActivityList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="activityID" filterBy="text"
                        appendTo="body" autoWidth="false" [virtualScroll]="false" [(ngModel)]="selectedCompanyActivity">
                    </p-dropdown>
                </div>

                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label for="companyNameA" class="control-label font-weight-bold">{{"ArabicName"|translate}} <span class="required-asterisk">*</span>  </label>
                    <input type="text" formControlName="companyNameA" class="input border w-full mt-1 "
                    [ngClass]="{ 'border-red-500': this.CompanyAddForm.get('companyNameA').invalid }">
                </div>

                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label for="companyNameE" class="control-label font-weight-bold">{{"EnglishName"|translate}} <span class="required-asterisk">*</span></label>
                    <input type="text" formControlName="companyNameE" class="input border w-full mt-1 "
                    [ngClass]="{ 'border-red-500': this.CompanyAddForm.get('companyNameE').invalid }">
                </div>


                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label for="website" class="control-label font-weight-bold">{{"Website"|translate}}</label>
                    <input type="text" formControlName="website" class="input border w-full mt-1 "
                    [ngClass]="{ 'border-red-500': this.CompanyAddForm.get('website').invalid }">
                </div>


                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label for="email" class="control-label font-weight-bold">{{"Email"|translate}} </label>
                    <input type="text" formControlName="email" class="input border w-full mt-1 "
                    [ngClass]="{ 'border-red-500': this.CompanyAddForm.get('email').invalid }">
                </div>

                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label for="nationalNo" class="control-label font-weight-bold">{{"NationalNumber"|translate}}</label>
                    <input type="text" formControlName="nationalNo" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label for="taxNo" class="control-label font-weight-bold">{{"TaxNo"|translate}}</label>
                    <input type="text" formControlName="taxNo" class="input border w-full mt-1 ">
                </div>
                <!--  Added By Hamza Deeb 21-04-2026 -->
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label for="incomeSourceNo" class="control-label font-weight-bold">{{"IncomeSourceNo"|translate}}</label>
                    <input type="number" formControlName="incomeSourceNo" class="input border w-full mt-1 ">
                </div>
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label for="clientId" class="control-label font-weight-bold">{{"ClientId"|translate}}</label>
                    <input type="text" formControlName="clientId" class="input border w-full mt-1 ">
                </div>
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label for="secretKey" class="control-label font-weight-bold">{{"SecretKey"|translate}}</label>
                    <input type="text" formControlName="secretKey" class="input border w-full mt-1 ">
                </div>
                <!-- End here -->

                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label for="addressA" class="control-label font-weight-bold">{{"ADDRESSA"|translate}}</label>
                    <input type="text" formControlName="addressA" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label for="addressE" class="control-label font-weight-bold">{{"ADDRESSE"|translate}}</label>
                    <input type="text" formControlName="addressE" class="input border w-full mt-1 ">
                </div>


                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 ">

                    <label
                        class="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                        style="padding: 9px 22.5px;">
                        <input type="file" #image (change)="onUploadIamge($event.target.files)" />
                        Upload
                    </label>

                    <br><br>

                    <p-button (click)="ClearImagePath(image)" label='{{"Delete"|translate}}'
                        styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white p-button p-component"
                        type="button" icon="pi pi-undo">
                    </p-button>

                </div>

                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 ">
                    <div class="mb-4 d-flex justify-content-center">
                        <img [src]="companyImage" alt="example placeholder" class="companyImage" />
                    </div>
                </div>


                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"BuildingNumber"|translate}}</label>
                    <input type="text" formControlName="buildingNo" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"CITY"|translate}}</label>
                    <input type="text" formControlName="city" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"TheNeighborhood"|translate}}</label>
                    <input type="text" formControlName="citySubdivisionName" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"zipCode"|translate}}</label>
                    <input type="text" formControlName="postalCode" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"phoneNumber"|translate}} 1</label>
                    <input type="text" formControlName="tel1" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"phoneNumber"|translate}} 2</label>
                    <input type="text" formControlName="tel2" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"faxNumber"|translate}}</label>
                    <input type="text" formControlName="fax" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Facebook"|translate}}</label>
                    <input type="text" formControlName="facebook" class="input border w-full mt-1 ">
                </div>


                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Twitter"|translate}}</label>
                    <input type="text" formControlName="twitter" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"WhatsApp"|translate}}</label>
                    <input type="text" formControlName="whatsApp" class="input border w-full mt-1 ">
                </div>


                <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"notes"|translate}}</label>
                    <input type="text" formControlName="note" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"MapLng"|translate}}</label>
                    <input type="text" formControlName="mapLng" [(ngModel)]="selectedlongitude" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Maplat"|translate}}</label>
                    <input type="text" formControlName="mapLat" [(ngModel)]="selectedlatitude" class="input border w-full mt-1 ">
                </div>

                <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                    <mat-card class="p-0">
                        <mat-card-title class="m-0">
                            <div class="card-title-text">Basic</div>
                            <mat-divider></mat-divider>
                        </mat-card-title>
                        <mat-card-content class="p-0">
                            <!-- <agm-map #Gmap (mapClick)="handleMapClick(Gmap)" [ngStyle]="{height: '400px'}" [zoom]="zoom"
                                [scrollwheel]="false" [disableDefaultUI]="false" [latitude]="mapCenter.lat"
                                [longitude]="mapCenter.lng"></agm-map> -->
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">

                    <p-button [disabled]="!CompanyAddForm.valid" label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4"
                        styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                        type="submit">
                    </p-button>

                    <p-button label='{{"Cancel"|translate}}' [routerLink]="['/Company/CompanyList']"
                        styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white p-button p-component"
                        type="button" icon="pi pi-undo">
                    </p-button>

                </div>

            </div>
        </form>

    </div>
</div>

<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>