<br>
<div class="intro-y box px-5 pb-5 mb-5">
    <div [hidden]="showLoader">
        <form [formGroup]="BankTransferAddForm" (ngSubmit)="OnSaveForms()">
            <input type="text" formControlName="id" class="form-control " hidden>
            <input type="text" formControlName="companyId" class="form-control " hidden>
            <input type="text" formControlName="isCanceled" class="form-control " hidden>
            <input type="text" formControlName="isPosted" class="form-control " hidden>
            <input type="text" formControlName="status" class="form-control " hidden>
            <input type="text" formControlName="amount" class="form-control " hidden>
            <input type="text" formControlName="voucherTypeEnum" class="form-control " hidden>
            <!-- =================================================================================================-->
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold ml-3">{{"Incoming"|translate}}: </label>
                    <input type="radio" [value]="1" id="Checkbox1" name="transferType" class="input border w-full mt-1"
                        [(ngModel)]="istype" [checked]="istype == 1" formControlName="transferType"
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold ml-3">{{"Outgoing"|translate}}:</label>
                    <input type="radio" [value]="2" id="Checkbox1" name="transferType" class="input border w-full mt-1"
                        [(ngModel)]="istype" [checked]="istype == 2" formControlName="transferType"
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <input type="checkbox" formControlName="isOut" class="input border mr-2 mr-3 ml-3"
                        [checked]="isOut == 1" [attr.disabled]="disableAll ? 'disabled' : null">
                    <label class="cursor-pointer select-none w-full"
                        for="isMonthlyBalance">{{"InternationalTransfer"|translate}}</label>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"VoucherType"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="voucherTypeList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="value" optionValue="label" [filter]="true" formControlName="voucherTypeId"
                        filterBy="text" appendTo="body" autoWidth="false" [virtualScroll]="false"
                        (onChange)="getVoucherNo($event)"
                        [ngClass]="{ 'invalid-field': BankTransferAddForm.get('voucherTypeId')?.value <= 0}"
                        [disabled]="disableAll || disableVouchertype">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"VoucherNo"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <input type="text" formControlName="voucherNo" class="input border w-full mt-1 "
                        [ngClass]="{ 'invalid-field': isEmpty(BankTransferAddForm.get('voucherNo')?.value)}"
                        (blur)="voucherNoBlur(BankTransferAddForm.value.voucherNo, BankTransferAddForm.value.voucherTypeId)"
                        [attr.disabled]="allowEditVoucherSerial||disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"VoucherDate"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <input type="date" formControlName="voucherDate" (blur)="isValidVoucherDate($event)"
                        class="input border w-full mt-1 " [ngClass]="{ 'invalid-field': !validDate}"
                        [attr.disabled]="allowEditDate||disableAll ? 'disabled' : null">
                    <span *ngIf="!validDate" class="required-asterisk">{{"msgInvalidDate"|translate}}</span>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Ammount"|translate}}<span
                            class="required-asterisk">*</span></label>
                    <input type="number" formControlName="amount" class="input border w-full mt-1 "
                        (blur)="claculateAmount()"
                        [ngClass]="{ 'invalid-field': (BankTransferAddForm.get('amount')?.value || 0) <= 0 }"
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
            </div>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Branch"|translate}}
                    </label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="branchesList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="branchId" filterBy="text"
                        appendTo="body" autoWidth="false" [virtualScroll]="false"
                        [disabled]="allowEditBranch||disableAll">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Currency"|translate}} <span
                            class="required-asterisk">*</span></label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="currencyList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="currencyId" filterBy="text"
                        [ngClass]="{ 'invalid-field': BankTransferAddForm.get('currencyId')?.value <= 0}" appendTo="body"
                        autoWidth="false" [virtualScroll]="false" (onChange)="getCurrencyRate($event)"
                        [disabled]="disableAll">

                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-1 xxl:col-span-1 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ConverionFactor"|translate}}<span
                            class="required-asterisk">*</span></label>
                    <input type="number" formControlName="currRate" class="input border w-full mt-1 "
                        [ngClass]="{ 'invalid-field': isEmpty(BankTransferAddForm.get('currRate')?.value)}"
                        [attr.disabled]="disableAll ? 'disabled' : null" [readOnly]="disableCurrRate">
                </div>
                <div class="col-span-12 sm:col-span-1 xxl:col-span-1 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"CommissionAMT"|translate}}</label>
                    <input type="text" formControlName="commissionAmt" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"CommissionACC"|translate}}</label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="accountsList3"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [(ngModel)]="selectedacc3" [filter]="true"
                        formControlName="commissionAccId" filterBy="text" appendTo="body" autoWidth="false"
                        [virtualScroll]="false" [disabled]="disableAll">
                    </p-dropdown>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"DebitAccount"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="accountsList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        [ngClass]="{ 'invalid-field': BankTransferAddForm.get('debitAccountId')?.value <= 0}"
                        optionLabel="text" optionValue="id" [(ngModel)]="selectedacc1" [filter]="true"
                        formControlName="debitAccountId" filterBy="text" appendTo="body" autoWidth="false"
                        [virtualScroll]="false" [disabled]="disableAll">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"CreditAccount"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="accountsList2"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        [ngClass]="{ 'invalid-field': BankTransferAddForm.get('creditAccountId')?.value <= 0}"
                        optionLabel="text" optionValue="id" [(ngModel)]="selectedacc2" [filter]="true"
                        formControlName="creditAccountId" filterBy="text" appendTo="body" autoWidth="false"
                        [virtualScroll]="false" [disabled]="disableAll" (onChange)="onChangeCreditAccount($event)">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"CustomerAndSupplierList"|translate}}</label>
                   <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                        [options]="customerAndSupplierList"
                        [style]="{'minWidth':'100%', 'width': '100%'}"
                        styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id"
                        formControlName="dealerId"
                        [filter]="true" filterBy="text"
                        appendTo="body" autoWidth="false"                       
                        [disabled]="disableAll" [virtualScroll]="true" 
                        [lazy]="true" (onLazyLoad)="DealerLazyOptions($event)"  [virtualScrollItemSize]="40"
                        (onChange)="onDealerChange($event)">
                    </p-dropdown>
                </div>                
                 <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-5">
                    <input type="checkbox" [(ngModel)]="IsDealerAcc" class="input border mr-2 mr-3 ml-3"
                        [checked]="IsDealerAcc == 1" [attr.disabled]="disableAll ? 'disabled' : null"
                        [ngModelOptions]="{standalone: true}">
                    <label class="cursor-pointer select-none w-full" 
                        for="isMonthlyBalance">{{"OnCustomerAccount"|translate}}</label>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ReceiverName"|translate}}<span
                            class="required-asterisk">*</span></label>
                    <input type="text" formControlName="receiverName" class="input border w-full mt-1 "
                        [ngClass]="{ 'invalid-field': isEmpty(BankTransferAddForm.get('receiverName')?.value)}"
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ReceiverAddress"|translate}}</label>
                    <input type="text" formControlName="receiverAddress" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ReceiverBank"|translate}}</label>
                    <input type="text" formControlName="receiverBank" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"SenderName"|translate}}</label>
                    <input type="text" formControlName="senderName" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
            </div>
            <div class="grid grid-cols-12 gap-5 pt-5">

                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ReceiverAccNo"|translate}}</label>
                    <input type="text" formControlName="receiverBankNo" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Swift"|translate}}</label>
                    <input type="text" formControlName="swift" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>

                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 ">
                    <label class="control-label font-weight-bold">{{"IBAN"|translate}}</label>
                    <input type="text" formControlName="iban" class="input border w-full mt-1 " [attr.disabled]="disableAll ? 'disabled' : null">
                </div>


                <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Notes"|translate}}</label>
                    <input type="text" formControlName="note" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
            </div>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ReferenceNo"|translate}}</label>
                    <input type="text" formControlName="referenceNo" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ReferenceDate"|translate}}</label>
                    <input type="date" formControlName="referenceDate" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
            </div>

            <div class="intro-y box px-5 pt-5"[hidden]="this.hideInfo">
                <p-table #dt [value]="creditAccountsList" dataKey="id" [loading]="loading"
                                styleClass="p-datatable-gridlines" [rowHover]="true">
                                <ng-template pTemplate="caption">
                                    <div class="grid grid-cols-12 gap-5 ">
                                        <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mb-5">
                                            <p-button label='{{"AddLine"|translate}}'
                                                styleClass="p-ripple p-element button w-32 mr-2 mb-5  items-center justify-center bg-theme-1 text-white p-button p-component"
                                                icon="pi pi-plus" (click)="AddNewLine()" [disabled]="disableAll"></p-button>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 20%">{{"PaymentType"|translate}} </th>
                                        <th style="width: 20%">{{"Semester"|translate}} </th>
                                        <th style="width: 8%">{{"TheAmount"|translate}}</th>
                                        <th [hidden]="true" style="width: 20%">{{"ACCOUNT"|translate}}</th>
                                        
                                        
                                        <th style="width: 5%"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" class=".p-datatable-tbody " let-accountList let-i="rowIndex">
                                    <tr>
                                        <td><p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                                [options]="paymentTypesList" [style]="{'minWidth':'100%', 'width': '100%'}"
                                                styleClass="input border w-full mt-1" optionLabel="text" optionValue="id"
                                                [filter]="true" filterBy="text" appendTo="body" autoWidth="false"
                                                [virtualScroll]="false" [(ngModel)]="accountList.paymentType"
                                                [ngModelOptions]="{standalone: true}"
                                                [disabled]="disableAll" [ngClass]="{ 'invalid-field': accountList.paymentType <= 0}">
                                            </p-dropdown>
                                        </td> 

                                        <td><p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                                [options]="semesterList" [style]="{'minWidth':'100%', 'width': '100%'}"
                                                styleClass="input border w-full mt-1" optionLabel="text" optionValue="id"
                                                [filter]="true" filterBy="text" appendTo="body" autoWidth="false"
                                                [virtualScroll]="false" [(ngModel)]="accountList.semesterId"
                                                [ngModelOptions]="{standalone: true}" 
                                                [disabled]="disableAll" [ngClass]="{ 'invalid-field': accountList.semesterId <= 0}">
                                            </p-dropdown>
                                        </td> 

                                        <td><input type="number" [(ngModel)]="accountList.credit"   (blur)="formatAmt(accountList,1)"
                                                [ngClass]="{ 'invalid-field': accountList.credit <=0 }"
                                                class="input border w-full mt-1 " [ngModelOptions]="{standalone: true}" [disabled]="disableAll">
                                        </td>

                                        <td [hidden]="true"><p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                                [options]="accountsList" [style]="{'minWidth':'100%', 'width': '100%'}"
                                                styleClass="input border w-full mt-1" optionLabel="text"
                                                optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                                                autoWidth="false" [virtualScroll]="false"
                                                [(ngModel)]="accountList.accountId"
                                                [ngClass]="{ 'invalid-field': accountList.accountId <= 0}"
                                                [ngModelOptions]="{standalone: true}"
                                                [disabled]="disableAll">
                                            </p-dropdown></td>

                                        <td style="width: 2% !important;">
                                            <button mat-menu-item (click)="deleteRow(i)" [disabled]="disableAll"> <i
                                                class="material-icons" style="color:red">delete</i>                                                
                                            </button>
                                        </td> 
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr class="odd">
                                        <td valign="top" colspan="9"> {{"noEntriesFoundLabel"|translate}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td colspan="1"></td>
                                        <td>{{"total"|translate}}</td>
                                        <td>{{calculateSum() }}</td>
                                        <td colspan="6"></td>
                                    </tr>
                                </ng-template>
                </p-table>
             </div>











            <!-- ==================================================================================================================details -->
            <div class="card" class="card-blue">
                <div class="intro-y box px-5 pt-5 mt-5">
                    <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">
                        <a width="200px" data-toggle="tab" data-target="#f01" href="javascript:;"
                            class="py-4 sm:mr-8 active">{{"VoucherAttachments"|translate}}</a>
                        <a data-toggle="tab" data-target="#f02" href="javascript:;" *ngIf="voucherId > 0"
                            class="py-4 sm:mr-8">{{"FinancailVoucher"|translate}}</a>
                    </div>
                </div>
                <div class="intro-y tab-content">
                    <div class="tab-content__pane active" id="f01">
                        <div class="intro-y box px-5 pt-5">
                            <app-app-general-attachment [voucherId]="voucherId"></app-app-general-attachment>
                        </div>
                    </div>
                    <div class="tab-content__pane" id="f02" *ngIf="voucherId && voucherId > 0">
                        <div class="intro-y box px-5 pt-5">
                            <app-financialvoucher [voucherId]="voucherId"
                                [voucherType]="voucherType"></app-financialvoucher>
                        </div>
                    </div>
                </div>
            </div>

           <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <input type="checkbox" id="tempSave" class="input border mr-2 mr-3 ml-3">
                    <label class="cursor-pointer select-none w-full" for="tempSave">{{"TempSave"|translate}}</label>                
                </div>
            </div>
            <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">
                <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    [disabled]="BankTransferAddForm.invalid || !this.validDate || disableSave" type="submit"
                    *ngIf="!showsave"></p-button>

                <p-button label='{{"Print"|translate}}' icon="pi pi-print" class="ml-4"
                    (click)="PrinBankTransferVoucher(this.BankTransferAddForm.value.id)"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    [disabled]="BankTransferAddForm.invalid" type="button" *ngIf="voucherId > 0"></p-button>

                <p-button label='{{"Delete"|translate}}' (click)="DeleteVoucher(this.BankTransferAddForm.value.id)"
                    color="warn" icon="pi pi-trash" class="ml-4"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    [disabled]="BankTransferAddForm.invalid" type="button" *ngIf="!showsave"></p-button>

                <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-6 text-white p-button p-component"
                    [routerLink]="['/BankTransfer/BankTransferList']"></p-button>
            </div>
        </form>
    </div>
</div>