<div class="container">
    <p-table #dt [value]="tabelData" [rows]="10" [paginator]="true" [globalFilterFields]="['yearNo','periodNameA']"
        styleClass="p-datatable-gridlines" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{{'showing'|translate}} {first} {{'to'|translate}}  {last} {{'of'|translate}} {totalRecords} {{'entries'|translate}}"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="grid grid-cols-12 gap-5 ">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 ">
                    <p-button label='{{"AddNew"|translate}}'
                        styleClass="p-ripple p-element button w-full mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                        icon="pi pi-plus" (click)="OpenPeriodsFiscalYearFormPopUp(0,true)"></p-button>
                </div>
            <div class="col-span-12 sm:col-span-7 xxl:col-span-7 cursor-pointer mt-1 "></div>
            <div class="col-span-12 sm:col-span-5 xxl:col-span-5 cursor-pointer mt-1 mb-5">
                <input class="pInputText input border w-full mt-1" pInputText type="text"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder='{{"search"|translate}} ' />
            </div>

           

            <div class="col-span-12 sm:col-span-7 xxl:col-span-7 cursor-pointer mt-5" align="end">
                <i class="pi pi-star-fill" 
                    [ngClass]="{'custom-star-icon': custom, 'custom-star-icon2': !custom}"
                    (click)="updateFavourite(this.screenId)"
                    title= "{{'AddToFavourite' | translate}}"
                    tooltipposition="bottom">
                </i>
            
                <button title="{{'ExportToExcel' | translate}}" class="mr-2" type="button" pbutton=""
                    pripple="" icon="pi pi-file-excel" ptooltip="XLS" (click)="exportExcel()"
                    tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">

                    <img src="../../../../assets/dist/images/icons/excel.svg" width="20px">
                </button>
                <button title="{{'ExportToPdf' | translate}}" class="mr-2" type="button" pbutton=""
                    pripple="" icon="pi pi-file-excel" ptooltip="PDF" (click)="exportPdf()"
                    tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">

                    <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px">
                </button>

            </div>

        </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">{{"number"|translate}} <p-sortIcon field="id"></p-sortIcon>
                <th pSortableColumn="periodNameA">{{"PeriodFiscalYearName"|translate}} <p-sortIcon
                        field="periodNameA"></p-sortIcon></th>
                <th pSortableColumn="yearNo">{{"PeriodFiscalYear"|translate}} <p-sortIcon
                        field="yearNo"></p-sortIcon></th>
                <th pSortableColumn="startDate">{{"StartDate"|translate}} <p-sortIcon
                        field="startDate"></p-sortIcon>
                <th pSortableColumn="endDate">{{"EndDate"|translate}} <p-sortIcon
                        field="endDate"></p-sortIcon></th>
                <th pSortableColumn="isActive">{{"Active"|translate}} <p-sortIcon field="isActive"></p-sortIcon></th>
                <th pSortableColumn="isClosed">{{"Closed"|translate}} <p-sortIcon field="isClosed"></p-sortIcon></th>
                <th><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" class=".p-datatable-tbody " let-periodsfiscalyear>
            <tr>
                <td>{{periodsfiscalyear.id}}</td>
                <td>{{periodsfiscalyear.periodNameA}}</td>
                <td>{{periodsfiscalyear.yearNo}}</td>
                <td>{{periodsfiscalyear.startDate|date:'yyyy/MM/dd'}}</td>
                <td>{{periodsfiscalyear.endDate|date:'yyyy/MM/dd'}}</td>
                <td><input id="check2_{{periodsfiscalyear.id}}" [checked]="periodsfiscalyear?.isActive" disabled
                    type="checkbox" class="input border mr-2 mr-3 ml-3" /> </td>
                <td><input id="check2_{{periodsfiscalyear.id}}" [checked]="periodsfiscalyear?.isClosed" disabled
                    type="checkbox" class="input border mr-2 mr-3 ml-3" /> </td>
                <td style="width:5%">
                    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                        <mat-icon class="">more_vert</mat-icon>
                    </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="OpenPeriodsFiscalYearFormPopUp(periodsfiscalyear.id,false)" *ngIf="!periodsfiscalyear?.isClosed">
                            <i class="material-icons" style="color:blue">edit</i> &nbsp;{{"Edit"|translate}} </button>
                        <button mat-menu-item (click)="DeletePeriodsFiscalYear(periodsfiscalyear.id,periodsfiscalyear)" *ngIf="!periodsfiscalyear?.isClosed"> <i class="material-icons"
                                style="color:red">delete</i>
                            &nbsp;{{"Delete"|translate}} </button>
                        <button id="btn_close"  mat-menu-item (click)="CloseYearPeriods(periodsfiscalyear.id)" *ngIf="!periodsfiscalyear?.isClosed" class="custom-cursor">
                                 <i class="material-icons" style="color:green">lock</i> &nbsp;{{"CloseYearPeriods"|translate}}                        
                        </button>
                        <button mat-menu-item (click)="openPeriodsYear(periodsfiscalyear.id)" *ngIf="periodsfiscalyear?.isClosed">
                            <i class="material-icons" style="color:green">lock_open</i> &nbsp;{{"OpenYearPeriods"|translate}} 
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="odd">
                <td valign="top" colspan="8"> {{"noEntriesFoundLabel"|translate}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>