<mat-dialog-content>
    <form [formGroup]="ProdLineForm" (ngSubmit)="OnSaveForms()">
        <div class="content">
            <div class="card">
                <div class="card-header text-center mt-5">
                    <h1>{{data.title}}</h1>
                </div>
                <input type="number" formControlName="id" hidden>
                <!-- <div class="intro-y box p-5 mt-12 sm:mt-5"> -->
                <div class="grid grid-cols-12 gap-5 mt-5">
                    <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"LineNo"|translate}} <span
                                class="required-asterisk">*</span></label>
                        <input type="text" formControlName="prodLineNo" class="input border w-full mt-1 "
                            [ngClass]="{ 'invalid-field': ProdLineForm.get('prodLineNo').value <= 0}" (blur)="CheckLineNo($event)">
                    </div>
                    <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"LineDescA"|translate}} <span
                                class="required-asterisk">*</span></label>
                        <input type="text" formControlName="lineNameA" class="input border w-full mt-1 "
                            [ngClass]="{ 'invalid-field': isEmpty(ProdLineForm.get('lineNameA').value)}">
                    </div>
                    <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"LineDescE"|translate}} <span
                                class="required-asterisk">*</span></label>
                        <input type="text" formControlName="lineNameE" class="input border w-full mt-1 "
                            [ngClass]="{ 'invalid-field': isEmpty(ProdLineForm.get('lineNameE').value)}">
                    </div>
                    <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"RunTime"|translate}} <span
                                class="required-asterisk">*</span></label>
                        <input type="number" formControlName="runtime" class="input border w-full mt-1 "
                            [ngClass]="{ 'invalid-field': ProdLineForm.get('runtime').value <= 0}">
                    </div>
                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"Description"|translate}}</label>
                        <input type="text" formControlName="description" class="input border w-full mt-1 ">
                    </div>
                     <div class="col-span-12 sm:col-span-2 xxl:col-span-2 mt-3">
                        <input id="active" type="checkbox"
                            [formControl]="ProdLineForm.get('active')"
                             class="input border mr-2 mr-3 ml-3 mt-5" />
                        <label class="cursor-pointer select-none"
                            for="active">{{"Active"|translate}}</label>
                    </div>

                    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                        <p-table #dt [value]="productionLinesDTList" dataKey="id" [scrollable]="true"
                            scrollHeight="250px" [style]="{width:'100%'}" [responsive]="true" [resizableColumns]="true"
                            styleClass="p-datatable-gridlines" [rowHover]="true">
                            <ng-template pTemplate="caption">
                                <div class="grid grid-cols-12 gap-5 ">
                                    <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mb-5">
                                        <p-button label='{{"AddLine"|translate}}'
                                            styleClass="p-ripple p-element button w-32 mr-2 mb-5 items-center justify-center bg-theme-1 text-white p-button p-component"
                                            icon="pi pi-plus" (click)="AddNewLine()"></p-button>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="flex: 0 0 35%" pSortableColumn="itemNo">{{"Product"|translate}}
                                        <p-sortIcon field="itemNo"></p-sortIcon>
                                    </th>
                                    <th style="flex: 0 0 10%" pSortableColumn="unitNo">{{"unit"|translate}} <p-sortIcon
                                            field="unitNo"></p-sortIcon></th>
                                    <th style="flex: 0 0 10%">{{"CapacityQty"|translate}}</th>
                                    <th style="flex: 0 0 8%">{{"Weighting"|translate}}</th>
                                    <th style="flex: 0 0 8%">{{"Mix"|translate}}</th>
                                    <th style="flex: 0 0 8%">{{"Packing"|translate}}</th>
                                    <th style="flex: 0 0 8%">{{"Wrapping"|translate}}</th>
                                    <th style="flex: 0 0 8%">{{"HoursQty"|translate}}</th>
                                    <th style="flex: 0 0 5%"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" class=".p-datatable-tbody " let-itemList let-i="rowIndex">
                                <tr>
                                    <td style="flex: 0 0 35%" *ngIf="this.CompanyName == 'Billa'"><p-dropdown
                                            emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                            [options]="itemsList" styleClass="input border w-full mt-1"
                                            optionLabel="text" optionValue="data1" [filter]="true" filterBy="text"
                                            appendTo="body" autoWidth="true" (onChange)="GetItemUnits(itemList,i)"
                                            [(ngModel)]="itemList.itemNo"
                                            [ngClass]="{ 'invalid-field': itemList.itemNo <= 0}"
                                            [ngModelOptions]="{standalone: true}">
                                        </p-dropdown></td>
                                    <td style="flex: 0 0 35%" *ngIf="this.CompanyName != 'Billa'"><p-dropdown
                                            emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                            [options]="itemsList" styleClass="input border w-full mt-1"
                                            optionLabel="text" optionValue="id" [filter]="true" filterBy="text"
                                            appendTo="body" autoWidth="true" (onChange)="GetItemUnits(itemList,i)"
                                            [(ngModel)]="itemList.itemId"
                                            [ngClass]="{ 'invalid-field': itemList.itemId <= 0}"
                                            [ngModelOptions]="{standalone: true}">
                                        </p-dropdown></td>
                                    <td style="flex: 0 0 10%"><p-dropdown
                                            emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                            [options]="unitsList[i]" [style]="{'minWidth':'100%', 'width': '100%'}"
                                            styleClass="input border w-full mt-1" optionLabel="text" optionValue="id"
                                            [filter]="true" filterBy="text" appendTo="body" autoWidth="false"
                                            [virtualScroll]="false" [(ngModel)]="itemList.unitNo"
                                            [ngClass]="{ 'invalid-field': itemList.unitNo <= 0}"
                                            [ngModelOptions]="{standalone: true}">
                                        </p-dropdown>
                                    </td>
                                    <td style="flex: 0 0 10%"><input type="number"
                                            [(ngModel)]="itemList.prodCapacityQty"
                                            [ngClass]="{ 'invalid-field': itemList.prodCapacityQty<=0 }"
                                            class="input border w-full mt-1 " [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td style="flex: 0 0 8%"><input type="number" [(ngModel)]="itemList.weight"
                                            class="input border w-full mt-1 "  (change)="calculateHour(itemList)"                                        
                                            [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td style="flex: 0 0 8%"><input type="number" [(ngModel)]="itemList.mix"
                                            class="input border w-full mt-1 " (change)="calculateHour(itemList)"
                                            [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td style="flex: 0 0 8%"><input type="number" [(ngModel)]="itemList.packing"
                                            class="input border w-full mt-1 " (change)="calculateHour(itemList)"
                                            [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td style="flex: 0 0 8%"><input type="number" [(ngModel)]="itemList.wrapping"
                                            class="input border w-full mt-1 " (change)="calculateHour(itemList)"
                                            [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td style="flex: 0 0 8%"><input type="number" [(ngModel)]="itemList.hoursQty"
                                            class="input border w-full mt-1 " [disabled]="true"
                                            [ngClass]="{ 'invalid-field': itemList.hoursQty<=0 }"
                                            [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td style="flex: 0 0 5%">
                                        <button mat-menu-item (click)="deleteRow(i)"> <i class="material-icons"
                                                style="color:red">delete</i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr class="odd">
                                    <td valign="top" colspan="9"> {{"noEntriesFoundLabel"|translate}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <div class=" col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions
                        align="end">
                        <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4"
                            styleClass="p-ripple p-element button w-32 mr-2 mb-2 items-center justify-center bg-theme-1 text-white p-button p-component"
                            type="submit" [disabled]="ProdLineForm.invalid || disableSave"></p-button>
                        <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                            styleClass="p-ripple p-element button w-32 mr-2 mb-2 items-center justify-center bg-theme-6 text-white p-button p-component"
                            (click)="dialogRef.close(false)"></p-button>
                    </div>
                </div>

            </div>
        </div>
        <!-- </div> -->
    </form>
</mat-dialog-content>