<form [formGroup]="costCenterForm" (ngSubmit)="OnSaveForms()">
    <div class="content">
        <div class="card">
            <div class="card-header text-center mt-5">
                <h1>{{data.title}}</h1>
            </div>
            <div class="intro-y box p-5 mt-12 sm:mt-5">
                <div class="grid grid-cols-12 gap-5 mt-5">

                    <div class="col-span-12 sm:col-span-7 xxl:col-span-7 cursor-pointer mt-1">
                        <label >{{"MAINTABLE"|translate}}</label>
                        <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                            [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1" optionLabel="text" optionValue="id"
                            [options]="mainTableList" [filter]="true" filterBy="text" formControlName="parentTableNo"
                            appendTo="body" autoWidth="false" [virtualScroll]="false" [(ngModel)]="selectedMainTable">
                        </p-dropdown>
                    </div>

                    <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                        <label >{{"CostCenterNo"|translate}}<span class="required-asterisk">*</span></label>
                        <input type="number" formControlName="itemNo" (blur)="CheckIfChooseSameAccNo($event)" class="input border w-full mt-1 ">
                    </div>

                    <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-6">

                        <input id="check_Active"[checked]="active==1" (change)="active=(active==0)?1:0" type="checkbox"
                            class="input border mr-2 mr-3 ml-3" />
                        <label class="cursor-pointer select-none" for="check_Active">{{"Active"|translate}}</label>

                        <!-- <mat-checkbox [checked]="active==1" (change)="active=(active==0)?1:0"
                            class="pl-16">{{"Active"|translate}}</mat-checkbox> -->
                    </div>

                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label >{{"ArabicName"|translate}}<span class="required-asterisk">*</span></label>
                        <input type="text" formControlName="descrA" class="input border w-full mt-1 ">
                    </div>

                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label >{{"EnglishName"|translate}}<span class="required-asterisk">*</span></label>
                        <input type="text" formControlName="descrE" class="input border w-full mt-1 ">
                    </div>

                    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                        <label >{{"note"|translate}}</label>
                        <input type="text" formControlName="note" class="input border w-full mt-1 ">
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-5 mt-5">
                    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">
                        <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4" styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                         [disabled]="costCenterForm.invalid"  type="submit"></p-button>
                        <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                            styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white p-button p-component" (click)="dialogRef.close(false)"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>