<form [formGroup]="StoreForm">
    <div class="content">
        <div class="card">
            <div class="card-header text-center mt-5">
                <h1>{{data.title}}</h1>
            </div>
            <div class="intro-y box p-5 mt-12 sm:mt-5">
                <div class="grid grid-cols-12 gap-5 mt-5">

                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"StoreArabicName"|translate}}</label>
                        <input type="text" formControlName="storeNameA" class="input border w-full mt-1 "
                        [attr.disabled]=" disableAll ? 'disabled' : null">
                    </div>
                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"StoreEnglishName"|translate}}</label>
                        <input type="text" formControlName="storeNameE" class="input border w-full mt-1 "
                        [attr.disabled]=" disableAll ? 'disabled' : null">
                    </div>


                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"StoreAdminName"|translate}}</label>
                        <input type="text" formControlName="storeKeeperName" class="input border w-full mt-1 "
                        [attr.disabled]=" disableAll ? 'disabled' : null">
                    </div>
                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"Address"|translate}}</label>
                        <input type="text" formControlName="address" class="input border w-full mt-1 " [attr.disabled]=" disableAll ? 'disabled' : null">
                    </div>


                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"telephone"|translate}}</label>
                        <input type="text" formControlName="telephone" class="input border w-full mt-1 "
                        [attr.disabled]=" disableAll ? 'disabled' : null">
                    </div>
                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"Mobile"|translate}}</label>
                        <input type="text" formControlName="mobile" class="input border w-full mt-1 "[attr.disabled]=" disableAll ? 'disabled' : null">
                    </div>

                    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"Notes"|translate}}</label>
                        <input type="text" formControlName="note" class="input border w-full mt-1 " [attr.disabled]=" disableAll ? 'disabled' : null">
                    </div>

                    <div class="col-span-12 sm:col-span-5 xxl:col-span-5 cursor-pointer mt-1">
                        <input id="minusSale" formControlName="allowMinusTrans" type="checkbox" class="input border mr-2 mr-3 ml-3"[attr.disabled]=" disableAll ? 'disabled' : null"/>
                        <label class="cursor-pointer select-none w-full"for="minusSale">{{"CanSaleNegativeQuantities"|translate}}</label>
                    </div>

                    <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                        <input id="active" formControlName="active" type="checkbox" class="input border mr-2 mr-3 ml-3"style="margin-right: 50px;" [attr.disabled]=" disableAll ? 'disabled' : null"/>
                        <label class="cursor-pointer select-none w-full" for="active">{{"Active"|translate}}</label>
                    </div>

                    <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                        <input id="hasPerm" formControlName="hasPermission" type="checkbox" class="input border mr-2 mr-3 ml-3" [attr.disabled]=" disableAll ? 'disabled' : null"/>
                        <label class="cursor-pointer select-none w-full" for="check_{{data.number}}">{{"SpicalValidate"|translate}}</label>
                    </div>

                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1"style="margin-top: 30px; margin-right: 10px">
                            <label class="cursor-pointer select-none w-full"for="check_{{data.number}}">{{"USERS"|translate}}</label>
                            <p-multiSelect #multiSelect emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'                                 
                                [style]="{'minWidth':'100%', 'width': '100%'}" optionLabel="text" 
                                styleClass="input border w-full mt-1 " optionValue="id" formControlName="usersId"
                                [options]="usersList" [filter]="true" filterBy="text" appendTo="body" autoWidth="false"
                                [virtualScroll]="false" [disabled]="disableAll" [disabled]="hasPermesion()">
                            </p-multiSelect>
                        </div>
                    </div>

                   <!--  <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1"style="margin-top: 30px; margin-right: 10px">
                            <label class="cursor-pointer select-none w-full" for="check_{{data.number}}">{{"USERS"|translate}}</label>
                            <mat-form-field>
                                <mat-select name="usersStores" [disabled]="hasPermesion()"
                                    style="border: double;height: 30px;width:300px;">
                                    <mat-option *ngFor=" let user of usersList" style="background-color: white;
                                        border: double;" [value]="user">{{user.nameA}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> -->

                    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions
                        align="end">
                        <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                            styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white p-button p-component"
                            (click)="dialogRef.close(false)"></p-button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>