<app-promotionorderadvancedserarch  (searchResultEvent)="handleSearchResult($event)" ></app-promotionorderadvancedserarch>
<div class="container">   
    <p-table #dt [value]="tabelData" [rows]="10" [paginator]="true" 
    [globalFilterFields]="['planNo','planDate','countryName','agentName','yearNo','expectedValue','salesForecast','planValuePercentageVsForecast','statusName']"
        styleClass="p-datatable-gridlines" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Show {first} To  {last} Of {totalRecords}"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" paginatorDropdownAppendTo="body">
        <ng-template pTemplate="caption">
            
            <div class="grid grid-cols-12 gap-5 ">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 mr-5 ">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="pInputText input border w-full mt-1 " pInputText type="text"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder=' {{"search"|translate}} ' />
                    </span>                    
                </div>
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-3">
                    <!-- <p-button label='{{"NewPromotionalMaterialsRequest"|translate}}'styleClass="p-ripple p-element button w-50 mr-2 items-center justify-center bg-theme-1 text-white p-button p-component" icon="pi pi-plus" (click)="AddPurRequestForm(0)"></p-button> -->
                    <p-button label='{{"CreateNewPromotionslItemsPlan"|translate}}'styleClass="p-ripple p-element button w-50 mr-2 items-center justify-center bg-theme-1 text-white p-button p-component" icon="" (click)="AddPurRequestForm(0)" ></p-button>
                    <!-- <p-button label='{{"PromotionalMaterialsInventory"|translate}}'styleClass="p-ripple p-element button w-50 mr-2 items-center justify-center bg-theme-1 text-white p-button p-component"icon="" ></p-button>  -->
                </div>                 
            
                
                <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-5" align="end">
                    <i class="pi pi-star-fill" 
                        [ngClass]="{'custom-star-icon': custom, 'custom-star-icon2': !custom}"
                        (click)="updateFavourite(this.screenId)"
                        title= "{{'AddToFavourite' | translate}}"
                        tooltipposition="bottom">
                    </i>
                    <button title="{{'ExportToExcel' | translate}}" class="mr-2" type="button" pbutton=""
                    pripple="" icon="pi pi-file-excel" ptooltip="XLS" (click)="exportExcel()"
                    tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                    <img src="../../../../assets/dist/images/icons/excel.svg" width="20px">
                    </button>
                    <button title="{{'ExportToPdf' | translate}}" class="mr-2" type="button" pbutton=""
                            pripple="" icon="pi pi-file-excel" ptooltip="PDF" (click)="exportPdf()"
                            tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                            <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px">
                    </button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="head_tb" pSortableColumn="planNo">{{"PlanNo"|translate}} <p-sortIcon field="planNo"></p-sortIcon></th>
                <th class="head_tb">{{"PlanDate"|translate}}</th>
                <th class="head_tb" pSortableColumn="countryName">{{"Market"|translate}} <p-sortIcon field="countryName"></p-sortIcon>
                <th class="head_tb" pSortableColumn="agentName">{{"Agent"|translate}} <p-sortIcon field="agentName"></p-sortIcon></th>                 
                <th class="head_tb" pSortableColumn="year">{{"Year"|translate}} <p-sortIcon field="year"></p-sortIcon></th> 
                <th class="head_tb" pSortableColumn="totalValueOfThePlan">{{"TotalPlanValue"|translate}} <p-sortIcon field="totalValueOfThePlan"></p-sortIcon></th> 
                <th class="head_tb" pSortableColumn="salesForecast">{{"SalesForecast"|translate}} <p-sortIcon field="salesForecast"></p-sortIcon></th> 
                <th class="head_tb" pSortableColumn="planValuePercentageVsForecast">{{"PlanValuePercentageToForecast"|translate}} <p-sortIcon field="planValuePercentageVsForecast"></p-sortIcon></th> 
                <th class="head_tb" pSortableColumn="statusName">{{"Status"|translate}} <p-sortIcon field="statusName"></p-sortIcon></th>
                <th><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
            </tr>            
        </ng-template>

    

        <ng-template pTemplate="body" class=".p-datatable-tbody " let-promoList>
            <tr>
                <td style="text-align: justify;">{{promoList.planNo}}</td>
                <td style="text-align: justify;">{{promoList.planDate|date:'yyyy/MM/dd'}}</td>
                <td style="text-align: justify;">{{promoList.countryName}}</td>
                <td style="text-align: justify;">{{promoList.agentName}}</td>
                <td style="text-align: justify;">{{promoList.yearNo}}</td>
                <td style="text-align: justify;">{{promoList.expectedValue | number:'1.3-3'}}</td>
                <td style="text-align: justify;">{{promoList.salesForecast | number:'1.3-3'}}</td>
                <td style="text-align: justify;">{{promoList.planValuePercentageVsForecast *100 | number:'1.2-2'}}</td>
                <td style="text-align: justify;">{{promoList.statusName}}</td>                
                <td style="width:5%">
                    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                        <mat-icon class="">more_vert</mat-icon>
                    </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="OpenDetailsForm(promoList.id)"> 
                            <i class="material-icons" style="color:blue">visibility</i> &nbsp;{{"showDetails"|translate}} </button>
                        <button mat-menu-item (click)="OpenPurRequestForm(promoList.id,false)" >
                            <i class="material-icons" style="color:green">edit</i> &nbsp;{{"Edit"|translate}}  </button>
                        <button mat-menu-item (click)="PrinPromoplans(promoList.id)"> 
                           <i class="material-icons" style="color:rgba(0, 119, 255, 0.836)">print</i> &nbsp;{{"PrintAction"|translate}} </button>
                        <button mat-menu-item (click)="DeleteVoucher(promoList.id)" *ngIf="promoList.status != 3 && promoList.status != 2"> 
                            <i class="material-icons" style="color:red">delete</i> &nbsp;{{"Delete"|translate}} </button>  
                        <button mat-menu-item (click)="ApproveOrder(promoList.id , promoList.status)" *ngIf="promoList.status != 3"> 
                            <i class="material-icons" style="color:green">check</i> &nbsp;{{"Approval"|translate}}  </button>
                    </mat-menu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="odd">
                <td valign="top" colspan="8"> {{"noEntriesFoundLabel"|translate}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>