<br>
<div class="intro-y box px-5 pb-5 mb-5">
    <div [hidden]="showLoader">
        <form [formGroup]="assembleyItemsAddForm" (ngSubmit)="OnSaveForms()">
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"transNo"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <input type="text" formControlName="voucherNo" class="input border w-full mt-1 "
                        [attr.disabled]=" disableAll ? 'disabled' : null"
                        [ngClass]="{ 'invalid-field': isEmpty(assembleyItemsAddForm.get('voucherNo').value)}"
                        (blur)="voucherNoBlur(assembleyItemsAddForm.value.voucherNo,isAssembleyy)">
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"TransDate"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <input type="date" formControlName="voucherDate" (blur)="isValidVoucherDate($event)" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null"
                        [ngClass]="{ 'invalid-field': !validDate}">
                    <span *ngIf="!validDate" class="required-asterisk">{{"msgInvalidDate"|translate}}</span>
                </div>
                <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"notes"|translate}}</label>
                    <input type="text" formControlName="notes" class="input border w-full mt-1 " [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
            </div>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Store"|translate}} <span
                        class="required-asterisk">*</span></label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="storesList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="storeId" filterBy="text"
                        appendTo="body" autoWidth="false" [virtualScroll]="false"    [disabled]="disableAll"
                        [ngClass]="{ 'invalid-field': assembleyItemsAddForm.get('storeId').value <= 0}"
                        (onChange)="StoreChange()">
                    </p-dropdown>
                </div>

                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"DisAssemblyItem"|translate}} <span
                        class="required-asterisk">*</span></label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="itemsList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="itemId" filterBy="text"
                        appendTo="body" autoWidth="false"  (onChange)="onChangeAssemblyItem($event)"   [disabled]="disableAll"
                        [ngClass]="{ 'invalid-field': assembleyItemsAddForm.get('itemId').value <= 0}"
                         [virtualScroll]="true" [lazy]="true" (onLazyLoad)="loadLazyOptions($event)" [virtualScrollItemSize]="40">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Unit"|translate}} <span
                        class="required-asterisk">*</span></label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="itemsUnitList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="unitId" filterBy="text"
                        appendTo="body" autoWidth="false" [virtualScroll]="false"  [disabled]="disableAll"
                        [ngClass]="{ 'invalid-field': assembleyItemsAddForm.get('unitId').value <= 0}"
                        (onChange)="OnDisAssembleyUnitChange(this.assembleyItemsAddForm.value.itemId,$event)">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-1 xxl:col-span-1 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Quantity"|translate}}<span class="required-asterisk">*</span></label>
                    <input type="number" formControlName="qty" class="input border w-full mt-1 "
                    (blur)="onDisAssmbleyQtyChange(this.assembleyItemsAddForm.value.qty)"
                    [ngClass]="{ 'invalid-field': assembleyItemsAddForm.get('qty').value <= 0}"
                    [attr.disabled]="disableAll ? 'disabled' : null">
                </div>

                <div class="col-span-12 sm:col-span-1 xxl:col-span-1 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Cost"|translate}}<span class="required-asterisk">*</span></label>
                    <input type="number" formControlName="cost" class="input border w-full mt-1 "
                    [ngClass]="{ 'invalid-field': assembleyItemsAddForm.get('cost').value <= 0}"
                    [attr.disabled]="disableAll ? 'disabled' : null"
                    [readOnly]="true">
                </div>

                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"TotalCost"|translate}}</label>
                    <input type="number" formControlName="totalCost" class="input border w-full mt-1 " [attr.disabled]="disableAll ? 'disabled' : null"
                    [readOnly]="true">
                </div>
             
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1" [hidden]="true">
                    <label class="control-label font-weight-bold">{{"UnitRate"|translate}}</label>
                    <input type="number" formControlName="unitRate" class="input border w-full mt-1 " >
                </div>
            </div>



            <div class="card" class="card-blue">
                <div class="intro-y box px-5 pt-5 mt-5">
                    <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">
                        <a width="200px" data-toggle="tab" data-target="#f01" href="javascript:;"
                            class="py-4 sm:mr-8 active">{{"VoucherDetails"|translate}}</a>
                        <a data-toggle="tab" data-target="#f02" href="javascript:;"
                            class="py-4 sm:mr-8">{{"VoucherAttachments"|translate}}</a>
                    </div>
                </div>

                 <div class="intro-y tab-content">
                    <div class="tab-content__pane active" id="f01">
                        <div class="intro-y box px-5 pt-5">
                            <p-table #dt [value]="assembleyItemsDTList" dataKey="id" [loading]="loading"
                                styleClass="p-datatable-gridlines" [rowHover]="true">
                                <ng-template pTemplate="caption">
                                    <div class="grid grid-cols-12 gap-5 ">
                                        <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mb-5">
                                            <p-button label='{{"AddLine"|translate}}' 
                                                styleClass="p-ripple p-element button w-32 mr-2 mb-5 items-center justify-center bg-theme-1 text-white p-button p-component"
                                                icon="pi pi-plus" (click)="AddNewLine()" [disabled]="disableAll"></p-button>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="head_tb" *ngIf="isdisabled"></th>
                                        <th class="head_tb" *ngIf="isdisabled"></th>
                                        <th class="head_tb" style="width: 20%" pSortableColumn="itemId">{{"material"|translate}}<p-sortIcon field="itemId"></p-sortIcon></th>
                                        <th class="head_tb" style="width: 10%" pSortableColumn="unitId">{{"Unit"|translate}} <p-sortIcon field="unitId"></p-sortIcon></th>
                                        <th class="head_tb" style="width: 5%" pSortableColumn="qty">{{"Qty"|translate}} <p-sortIcon field="qty"></p-sortIcon></th> 
                                        <th class="head_tb" style="width: 10%" pSortableColumn="qty">{{"Cost"|translate}} <p-sortIcon field="qty"></p-sortIcon></th>
                                        <th class="head_tb" style="width: 10%" pSortableColumn="qty">{{"total"|translate}} <p-sortIcon field="qty"></p-sortIcon></th>
                                        <th style="width: 2%"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                                        <th style="width: 4%"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" class=".p-datatable-tbody " let-accVouchersDTsList let-i="rowIndex">
                                    <tr>   
                                        <td style="text-align: justify;" *ngIf="isdisabled">
                                            <input type="number" [(ngModel)]="accVouchersDTsList.id" 
                                            [ngModelOptions]="{standalone: true}" class="input border w-full mt-1">
                                        </td> 
                                        <td *ngIf="isdisabled">
                                            <input type="number" [(ngModel)]="accVouchersDTsList.hDId" 
                                            [ngModelOptions]="{standalone: true}" class="input border w-full mt-1">
                                        </td>                                                                                          
                                       <td><p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                            [options]="itemsList" [style]="{'minWidth':'100%', 'width': '100%'}"
                                            optionLabel="text" optionValue="id" [filter]="true" filterBy="text"
                                            appendTo="body" autoWidth="false" [virtualScroll]="false"
                                            [(ngModel)]="accVouchersDTsList.itemId" 
                                            styleClass="input border w-full mt-1"
                                            [ngModelOptions]="{standalone: true}"
                                            [ngClass]="{ 'invalid-field': accVouchersDTsList.itemId <= 0}"
                                            (onChange)="onChangeItem(accVouchersDTsList,i)" [disabled]="disableAll"
                                            (keydown)="handleF3Key($event, accVouchersDTsList,i)"
                                            [virtualScroll]="true" [lazy]="true" (onLazyLoad)="loadLazyOptions($event)" [virtualScrollItemSize]="40">
                                        </p-dropdown></td>
                                        <td>
                                            <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                                [options]="this.unitsList[i]" [style]="{'minWidth':'100%', 'width': '100%'}"
                                                optionLabel="text" optionValue="id" [filter]="true" filterBy="text"
                                                appendTo="body" autoWidth="false" [virtualScroll]="false"
                                                [(ngModel)]="accVouchersDTsList.unitId" 
                                                [ngClass]="{ 'invalid-field': accVouchersDTsList.unitId <= 0}"
                                                styleClass="input border w-full mt-1"
                                                [ngModelOptions]="{standalone: true}" [disabled]="disableAll"
                                                (onChange)="OnUnitChange($event,accVouchersDTsList)"
                                                (keydown)="handleF3Key($event, accVouchersDTsList,i)">
                                            </p-dropdown>
                                        </td>
                                        <td>
                                            <input type="number"
                                                [(ngModel)]="accVouchersDTsList.qty" 
                                                [ngClass]="{ 'invalid-field': accVouchersDTsList.qty <= 0}"
                                                [ngModelOptions]="{standalone: true}" class="input border w-full mt-1"
                                                [disabled]="disableAll" (blur)="CalculateTotal(accVouchersDTsList,i)"
                                                (keydown)="handleF3Key($event, accVouchersDTsList,i)">
                                        </td>    

                                        <td>
                                            <input type="number"
                                                [(ngModel)]="accVouchersDTsList.cost"  (blur)="CalculateTotal(accVouchersDTsList,i)"
                                                [ngModelOptions]="{standalone: true}" class="input border w-full mt-1"
                                                (keydown)="handleF3Key($event, accVouchersDTsList,i)">
                                        </td>        
                                        <td>
                                            <input type="number"
                                                [(ngModel)]="accVouchersDTsList.total" 
                                                [ngModelOptions]="{standalone: true}" class="input border w-full mt-1"
                                                [readOnly]="true" (keydown)="handleF3Key($event, accVouchersDTsList,i)">
                                        </td>   
                                        <td style="width:2%">
                                            <button (click)="deleteRow(i)"> <i class="material-icons" style="color:red">delete</i></button>
                                        </td>                              
                                        <td style="width:4%">
                                            <button mat-menu-item (click)="CopyRow(accVouchersDTsList,i)"> <i class="material-icons" style="color:rgba(0, 255, 76, 0.747)">file_copy</i>&nbsp;{{"CopyRow"|translate}} </button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr class="odd">
                                        <td valign="top" colspan="9"> {{"noEntriesFoundLabel"|translate}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>   
                                        <td colspan="3"></td>                
                                        <td>{{"total"|translate}}</td>
                                        <td>{{calculateSum()}}</td>
                                        <td colspan="4"></td>
                                    </tr>                                    
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="tab-content__pane" id="f02">
                        <div class="intro-y box px-5 pt-5">
                            <app-app-general-attachment [voucherId]="voucherId"></app-app-general-attachment>
                        </div>
                    </div>
                    <div *ngIf="showRemainQty" class="grid grid-cols-12 gap-5 pt-5">
                        <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                            <label class="control-label font-weight-bold" style="color: rgb(255, 0, 0); font-size: large;">
                                {{"RemainingQty="|translate}}
                                {{this.remainingQty}}
                            </label>
                        </div>
                    </div>
                </div> 
            </div>


            <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">
                <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    [disabled]="assembleyItemsAddForm.invalid || !this.validDate || disableSave || !(assembleyItemsAddForm.get('unitId').value> 0) " type="submit"
                    [hidden]="showsave"></p-button>
                <p-button label='{{"Print"|translate}}' icon="pi pi-print" class="ml-4"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    [disabled]="assembleyItemsAddForm.invalid" type="button"></p-button>
                <p-button label='{{"Delete"|translate}}' color="warn" icon="pi pi-trash" class="ml-4"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    [disabled]="assembleyItemsAddForm.invalid" type="button"[hidden]="showsave" (onClick)="DeleteVoucher(this.assembleyItemsAddForm.value.id)"></p-button>
                <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-6 text-white p-button p-component"
                    [routerLink]="['/DisAssemblyItems/DisAssemblyitemsList']"></p-button>
            </div>
        </form>