<form [formGroup]="CountriesqtyForm" (ngSubmit)="OnSaveForms()">
    <div class="content">
        <div class="card">
            <div class="card-header text-center mt-5">
                <h1>{{data.title}}</h1>
            </div>
            <div class="intro-y box p-5 mt-12 sm:mt-5">
                <div class="grid grid-cols-12 gap-5 mt-5">
                    <div class="col-span-6 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold mr-2">{{"ProductName"|translate}}: </label>
                        <label class="control-label font-weight-bold">{{data.itemName}}</label>
                        <input type="text" formControlName="id" class="form-control " hidden>
                    </div>
                    <div class="col-span-6 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"Quantity"|translate}}: </label>
                        <label class="control-label font-weight-bold">{{data.qty | number: '1.3-3'}}</label>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-5 mt-5">
                    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                        <p-table #dt [value]="countriesQtyList" dataKey="id" styleClass="p-datatable-gridlines"
                            [rowHover]="true" [rows]="5" [paginator]="true" responsiveLayout="scroll"
                            [showCurrentPageReport]="true">
                            <ng-template pTemplate="caption">
                                <div class="grid grid-cols-12 gap-5 ">
                                    <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mb-5">
                                        <p-button label='{{"AddLine"|translate}}'
                                            styleClass="p-ripple p-element button w-32 mr-2 mb-5 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                                            icon="pi pi-plus" (click)="AddNewLine()"></p-button>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 70%">{{"COUNTRY"|translate}}</th>
                                    <th style="width: 15%">{{"Quantity"|translate}}</th>
                                    <th style="width: 5%"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" class=".p-datatable-tbody " let-countryList let-i="rowIndex">
                                <tr>
                                    <td style="width: 70%"><p-dropdown
                                            emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                            [options]="countriesList" [style]="{'minWidth':'100%', 'width': '100%'}"
                                            styleClass="input border w-full mt-1" optionLabel="text" optionValue="id"
                                            [filter]="true" [(ngModel)]="countryList.countryId" filterBy="text"
                                            appendTo="body" [ngModelOptions]="{standalone: true}"
                                            [ngClass]="{ 'invalid-field': countryList.countryId <=0}" autoWidth="false"
                                            [virtualScroll]="false">
                                        </p-dropdown>
                                    </td>
                                    <td style="width: 15%"><input type="number" [(ngModel)]="countryList.countryQty"
                                        [ngClass]="{ 'invalid-field': countryList.countryQty <=0}"
                                            class="input border w-full mt-1 " [ngModelOptions]="{standalone: true}">
                                    </td>

                                    <td style="width: 5%">
                                        <button mat-menu-item (click)="deleteRow(i)">
                                            <i class="material-icons" style="color:red">delete</i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr class="odd">
                                    <td valign="top" colspan="3"> {{"noEntriesFoundLabel"|translate}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td>{{"total"|translate}}</td>
                                    <td>{{calculateSum() | number: '1.3-3'}}</td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions
                    align="end">
                    <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4"
                        styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                        type="submit"></p-button>
                    <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                        styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white p-button p-component"
                        (click)="dialogRef.close(countriesQtyList)"></p-button>
                </div>
            </div>
        </div>
    </div>
</form>