<form [formGroup]="AccTransTransferForm" (ngSubmit)="OnSaveForms()">    
    <div class="content">
        <div class="card">
            <div class="card-header text-center">
                <h4>{{data.title}}</h4>
            </div>
            <input type="number" class="form-control" formControlName="id"  hidden>
            <div class="card-body">
                <div class="intro-y box p-5 mt-12 sm:mt-5">
                    <div class="grid grid-cols-6 gap-5 mt-5">
                        <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                            <label >{{"FromAcc"|translate}} <span class="required-asterisk">*</span></label>
                            <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                [style]="{'minWidth':'100%', 'width': '100%'}" optionLabel="text" optionValue="id"
                                [options]="accountsList1" styleClass="input border w-full mt-1" [filter]="true" filterBy="text" appendTo="body"
                                autoWidth="false" [virtualScroll]="false" formControlName="fromAccId"
                                [(ngModel)]="selectedAcc1">
                            </p-dropdown>
                        </div>
                    </div> 
                        <div class="grid grid-cols-6 gap-5 mt-5">
                            <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">

                                <label >{{"ToAcc"|translate}}<span class="required-asterisk">*</span></label>
                                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                    [style]="{'minWidth':'100%', 'width': '100%'}" optionLabel="text" optionValue="id"
                                    [options]="accountsList2" styleClass="input border w-full mt-1" [filter]="true" filterBy="text" appendTo="body"
                                    autoWidth="false" [virtualScroll]="false" formControlName="toAccId"
                                    [(ngModel)]="selectedAcc2">
                                </p-dropdown>
                             </div> 
                        </div> 
                        
                        <div class="grid grid-cols-6 gap-5 mt-5">
                            <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                            <label class="control-label font-weight-bold" >{{"VoucherType"|translate}}</label>
                            <p-multiSelect emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                [style]="{'minWidth':'100%', 'width': '100%'}" optionLabel="text"
                                styleClass="input border w-full mt-1" optionValue="id" formControlName="voucherTypes"
                                [options]="vouchersList" [filter]="true" filterBy="text" autoWidth="false"
                                [virtualScroll]="false" >
                            </p-multiSelect>
                            </div>
                        </div>          
                </div>

                    <div class="grid grid-cols-12 gap-5 mt-5">
                        <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">
                            <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4"   [disabled]="AccTransTransferForm.invalid"
                                styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                                type="submit"></p-button>
                            <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                                styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white p-button p-component" (click)="dialogRef.close(false)"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>