<form [formGroup]="serviceFormInitialForm" (ngSubmit)="OnSaveForms()">
    <div class="content">
        <div class="card">
            <div class="card-header text-center mt-5">
                <h1>{{data.title}}</h1>
            </div>
            <div class="intro-y box p-5 mt-12 sm:mt-5">
                <div class="grid grid-cols-12 gap-5 mt-5">
                   
                        <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                            <label >{{"ArabicName"|translate}} <span class="required-asterisk">*</span></label>
                            <input type="text" class="input border w-full mt-1" formControlName="serviceNameA">
                        </div>
                        <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                            <label >{{"EnglishName"|translate}} <span class="required-asterisk">*</span></label>
                            <input type="text" class="input border w-full mt-1" formControlName="serviceNameE">
                        </div>
                   
                        <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                            <label >{{"RevenueAccount"|translate}}</label>
                            <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                [style]="{'minWidth':'100%', 'width': '100%'}" optionLabel="text" optionValue="id"
                                [options]="accountsList" [filter]="true" styleClass="input border w-full mt-1" filterBy="text" appendTo="body"
                                autoWidth="false" [virtualScroll]="false" formControlName="accountId"
                                >
                            </p-dropdown>
                        </div>
                        <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                            <label >{{"Tax"|translate}}</label>
                            <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1" optionLabel="text" optionValue="id"
                                [options]="taxesList" [filter]="true" filterBy="text" appendTo="body" autoWidth="false"
                                [virtualScroll]="false" formControlName="taxId" >
                            </p-dropdown>
                        </div>

                   
                        <div class="col-span-12 sm:col-span-9 xxl:col-span-9 cursor-pointer mt-1">
                            <label >{{"Notes"|translate}}</label>
                            <input type="text" class="input border w-full mt-1" formControlName="note">
                        </div>
                        <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                            <label >{{"Price"|translate}}</label>
                            <input type="text" class="input border w-full mt-1" formControlName="price">
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-5 mt-5">
                    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">
                        <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4" styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                           [disabled]="serviceFormInitialForm.invalid" type="submit"></p-button>
                        <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                            styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white p-button p-component" (click)="dialogRef.close(false)"></p-button>
                    </div>
                </div>
                </div>
            </div>
        </div>
   
</form>