<div class="intro-y box px-5 pb-5 mb-5">
    <div [hidden]="showLoader">
        <br>

        <form [formGroup]="DepreciationForm" (ngSubmit)="onSubmit()"> 
            <input type="text" formControlName="id" class="form-control " [(ngModel)]="Data.id" hidden>
            <input type="text" formControlName="companyId" class="form-control " hidden>
            <input type="text" formControlName="isCanceled" class="form-control " hidden>
            <input type="text" formControlName="isPosted" class="form-control " hidden>
            <input type="text" formControlName="status" class="form-control " hidden>
            <input type="text" formControlName="amount" class="form-control " hidden>
            <input type="text" formControlName="voucherTypeEnum" class="form-control " hidden> 

            <div class="grid grid-cols-12 gap-5 mt-5">

            <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                <label class=" font-weight-bold">{{"VoucherType"|translate}}<span
                        class="required-asterisk">*</span></label>
                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' 
                    [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                    optionLabel="value" optionValue="label" [filter]="true" filterBy="text" appendTo="body"
                    autoWidth="false" [virtualScroll]="false" [options]="VoucherTypeList" formControlName="voucherTypeId" (onChange)="getVoucherNo($event)"
                    [ngClass]="{ 'invalid-field': DepreciationForm.get('voucherTypeId').value <= 0}" [disabled]="disableAll || disapleVoucherType">
                </p-dropdown>
            </div>

            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                <div>
                    <label class="control-label font-weight-bold">{{"BondNumber"|translate}}<span
                            class="required-asterisk">*</span> </label>
                    <input type="input" class="input border w-full mt-1" formControlName="voucherNo" [(ngModel)]="Data.voucherNo"
                    [ngClass]="{ 'invalid-field': DepreciationForm.get('voucherNo').value <= 0}"
                    [attr.disabled]="allowEditVoucherSerial||disableAll ? 'disabled' : null">
                </div>
            </div>

            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                <div>
                    <label class="control-label font-weight-bold">{{"VoucherDate"|translate}}<span
                            class="required-asterisk">*</span> </label>
                    <input type="date" class="input border w-full mt-1" formControlName="voucherDate" 
                    [ngModel]="Data.voucherDate | date:'yyyy-MM-dd'" [attr.disabled]="allowEditDate||disableAll ? 'disabled' : null">
                </div>
            </div>

            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                <label class=" font-weight-bold">{{"Currency"|translate}}<span
                        class="required-asterisk">*</span></label>
                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]=""
                    [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                    optionLabel="text" optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                    autoWidth="false" [virtualScroll]="false" [options]="currencyList" formControlName="currencyId"  (onChange)="getCurrencyRate($event)"
                    [ngClass]="{ 'invalid-field': DepreciationForm.get('currencyId').value <= 0}" [disabled]="disableAll">
                </p-dropdown>
            </div>

            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                <div>
                    <label class="control-label font-weight-bold">{{"ExchangeRatio"|translate}}<span
                            class="required-asterisk">*</span> </label>
                    <input type="input" class="input border w-full mt-1" disabled="true" formControlName="currRate" [(ngModel)]="Data.currRate" [readOnly]="disableCurrRate"
                    [ngClass]="{ 'invalid-field': DepreciationForm.get('currRate').value <= 0}" [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
            </div>


            <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                <div>
                    <label class="control-label font-weight-bold">{{"CalculatingToMonthDepreciation"|translate}}
                    </label>
                    <input type="date" class="input border w-full mt-1"  [(ngModel)]="Data.depreciationMonth" formControlName="depreciationMonth" [ngModel]="Data.depreciationMonth | date:'yyyy-MM-dd'"
                    [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
            </div>


            <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                <div>
                    <label class=" font-weight-bold">{{"notes"|translate}}</label>
                    <input type="input" class="input border w-full mt-1" formControlName="note" [(ngModel)]="Data.note" [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
            </div>

            <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                <label class=" font-weight-bold">{{"ParentClass"|translate}}</label>
                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]=""
                    [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                    optionLabel="text" optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                    autoWidth="false" [virtualScroll]="false" formControlName="FixedAssetType"  [options]="FixedAssetTypeList" [(ngModel)]="SelectFixedTypeList"
                    [disabled]="disableAll">
                </p-dropdown>
            </div>

            <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1" style="margin: 1rem;">
                <p-button label='{{"DisplayFixedAssets"|translate}}'
                    styleClass=" p-element button w-28 mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                    (onClick)="displayAllFixedAsset()" [disabled]="disableAll"></p-button> 
            </div>


                <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                    <div class="intro-y tab-content">

                        <div class="intro-y box px-5 pt-5 mt-5">
                            <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">

                                <a width="200px" data-toggle="tab" data-target="#f01" href="javascript:;"
                                    class="py-4 sm:mr-8 active">{{"BondTerms"|translate}}</a>

                                <a data-toggle="tab" data-target="#f02" href="javascript:;"
                                    class="py-4 sm:mr-8 ">{{"VoucherAttachments"|translate}}</a>
                                <a data-toggle="tab" data-target="#f03" href="javascript:;" *ngIf="voucherId > 0 && !HideVoucher"
                                    class="py-4 sm:mr-8">{{"FinancailVoucher"|translate}}</a>
                            </div>
                        </div>

                        <div class="intro-y box tab-content">
                            <div class="tab-content__pane active" id="f01">
                                <div class="intro-y box px-5 pt-5 pb-5">
                                       <p-table #dt [value]="accVouchersDTsList" dataKey="id" [loading]="loading" [scrollable]="true"
                                        [paginator]="false" [style]="{width:'100%'}" [responsive]="true"
                                        [resizableColumns]="true" styleClass="p-datatable-gridlines"
                                        [rowHover]="true" scrollDirection="horizontal">

                                        <ng-template pTemplate="caption">
                                            <div class="grid grid-cols-12 gap-5 ">
                                                <div
                                                    class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mb-5">
                                                    <p-button label='{{"AddLine"|translate}}'
                                                        styleClass="p-ripple p-element button w-32 mr-2 mb-5 items-center justify-center bg-theme-1 text-white p-button p-component"
                                                        icon="pi pi-plus" (click)="AddNewLine()" [disabled]="disableAll"></p-button>
                                                </div>
                                            </div>
                                        </ng-template>

                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 7%" pSortableColumn="Origin"> {{"theOrigin"|translate}}</th>
                                                <th style="width: 5%" pSortableColumn="CostCenter" *ngIf="useCostCenter">{{"CostCenter"|translate}}</th>
                                                <th style="width: 5%" pSortableColumn="FixedCost">{{"FixedCost"|translate}}</th>
                                                <th style="width: 5%" pSortableColumn="AccumulatedDepreciation">{{"AccumulatedDepreciation"|translate}}</th>
                                                <th style="width: 5%" pSortableColumn="Additions">{{"Additions"|translate}}</th>
                                                <th style="width: 5%" pSortableColumn="Deleteation">{{"Deleteation"|translate}}</th>
                                                <th style="width: 5%" pSortableColumn="PersentDeprecitation">{{"PersentDeprecitation"|translate}}</th>
                                                <th style="width: 5%" pSortableColumn="DeprecitationCost">{{"DeprecitationCost"|translate}}</th>
                                                <th style="width: 2%" ><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="body" class=".p-datatable-tbody" let-row let-i="rowIndex">
                                            <tr [ngClass]="{ 'disabled-row': isDisabled(row.assetId) }">

                                                <td style="width: 7%">
                                                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                                    [optionLabel]="currentLang === 'ar' ? 'fanameA' : 'fanameE'"  optionValue="id" [filter]="true" filterBy="text" (onChange)="getAssestInfo(row.assetId, i)"
                                                    appendTo="body" autoWidth="false" [virtualScroll]="false" [ngModelOptions]="{standalone: true}"
                                                    [options]="AssestList"  [(ngModel)]="row.assetId" (onChange)="CheckIfChooseSameAssest(i, row)"
                                                    [style]="{'minWidth':'100%', 'width': '100%'}" 
                                                    [ngClass]="{ 'invalid-field':row.assetId <= 0}" [disabled]="disableAll" >
                                                </p-dropdown>

                                                </td>
                                      

                                                <td style="width: 5%" *ngIf="useCostCenter">
                                                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                                        optionLabel="text" optionValue="id" [filter]="true" filterBy="text" [ngModelOptions]="{standalone: true}"
                                                        appendTo="body" autoWidth="false" [virtualScroll]="false" [options]="CostCenterList" [(ngModel)]="row.costCenterId" [style]="{'minWidth':'100%', 'width': '100%'}"
                                                        [disabled]="disableAll" >
                                                    </p-dropdown>
                                                </td>

                                                <td style="width: 5%">
                                                    <input type="number" class="input border w-full mt-1 "  [ngModelOptions]="{standalone: true}" readonly
                                                    [(ngModel)]="row.assetAmount" (onChange)="claculateAllAmount(i, row)" [disabled]="disableAll"
                                                    >
                                                </td>

                                                <td style="width: 5%">
                                                    <input type="number" class="input border w-full mt-1 "  [ngModelOptions]="{standalone: true}" readonly
                                                    [(ngModel)]="row.depreciationComplex" [disabled]="disableAll" >  
                                                </td>

                                                <td style="width: 5%">
                                                    <input type="number" class="input border w-full mt-1 "  readonly [ngModelOptions]="{standalone: true}" readonly
                                                    [(ngModel)]="row.additions" [disabled]="disableAll" > 
                                                </td>

                                                <td style="width: 5%">
                                                    <input type="number" class="input border w-full mt-1 "  readonly [ngModelOptions]="{standalone: true}" readonly
                                                    [(ngModel)]="row.decreases" [disabled]="disableAll" > 
                                                </td>

                                                <td style="width: 5%">
                                                    <input type="number" class="input border w-full mt-1 " readonly [ngModelOptions]="{standalone: true}" readonly
                                                    [(ngModel)]="row.depreciationPersantage" [disabled]="disableAll" > 
                                                </td>

                                                <td style="width: 5%">
                                                    <input type="text" class="input border w-full mt-1 "  readonly [ngModelOptions]="{standalone: true}" readonly
                                                    [(ngModel)]="row.total" [disabled]="disableAll" >  
                                                </td>

                                                <td style="width: 2%">
                                                    <button mat-menu-item (click)="deleteRow(i)" [disabled]="disableAll"> <i
                                                            class="material-icons" style="color:red">delete</i>
                                                    </button>
                                                </td>

                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="emptymessage">
                                            <tr class="odd">
                                                <td valign="top" colspan="10">
                                                    {{"noEntriesFoundLabel"|translate}}</td>
                                            </tr>
                                        </ng-template>
        
                                        <ng-template pTemplate="footer"  [hidden]="!useCostCenter">
                                            <tr [hidden]="!useCostCenter">
                                                 <td colspan="6"></td>
                                                 <td>{{"total"|translate}}</td>
                                                 <td>{{tfTotal}}</td>
                                                <td></td>                                                
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="footer"  [hidden]="useCostCenter">
                                            <tr [hidden]="useCostCenter">
                                                 <td colspan="5"></td>
                                                 <td>{{"total"|translate}}</td>
                                                 <td>{{tfTotal}}</td>
                                                <td></td>                                                
                                            </tr>
                                        </ng-template>
                                       </p-table>
                                </div>
                            </div>

                            <div class="tab-content__pane" id="f02">
                                <div class="intro-y box px-5 pt-5">
                                       <app-app-general-attachment [voucherId]="voucherId"></app-app-general-attachment> 
                                </div>
                            </div>
                            <div class="tab-content__pane" id="f03" *ngIf="voucherId && voucherId > 0 && !HideVoucher">
                                <div class="intro-y box px-5 pt-5">
                                    <app-financialvoucher [voucherId]="voucherId" [voucherType]="voucherType"></app-financialvoucher>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">

                <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4" [disabled]="DepreciationForm.invalid || disableSave" [hidden]="this.opType == 'Show'"
                  styleClass="p-ripple p-element button w-32 mr-2 mb-2 items-center justify-center bg-theme-1 text-white p-button p-component" type="submit">
                </p-button>

                <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                  styleClass="p-ripple p-element button w-32 mr-2 mb-2 items-center justify-center bg-theme-6 text-white p-button p-component"
                  [routerLink]="['/FixedAssetDepreciation/DepreciationList']">
               </p-button>

            </div>
        </form>
   </div>
</div>

<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
