<form [formGroup]="formControleGroup" (ngSubmit)="OnSaveForms()">
    <div class="content">
        <div class="card">
            <div class="card-header text-center mt-5">
                <h4>{{data.title}}</h4>
            </div>
            <div class="intro-y box p-5 mt-12 sm:mt-5">
                <div class="grid grid-cols-12 gap-5 mt-5">
                    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                        <label>{{"CURRNTPASSWORD"|translate}}</label>
                        <p-password formControlName="currentPassword" styleClass="input border w-full mt-1"
                        [ngClass]="{ 'invalid-field': isEmpty(formControleGroup.get('currentPassword').value)}" [toggleMask]="true" [feedback]="false"></p-password>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label>{{"NEWPASSWORD"|translate}}</label>
                        <p-password formControlName="newPassword" styleClass="input border w-full mt-1"
                        [ngClass]="{ 'invalid-field': isEmpty(formControleGroup.get('newPassword').value)}" [toggleMask]="true"></p-password>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <label>{{"CONFIRMPASSWORD"|translate}}</label>
                        <p-password formControlName="confirmPassword" styleClass="input border w-full mt-1"
                        formControlName="confirmPassword" #ConfirmPassword [feedback]="false"
                            [ngClass]="{ 'invalid-field': isEmpty(formControleGroup.get('confirmPassword').value)}" [toggleMask]="true"></p-password>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4" styleClass="p-ripple p-element button w-32 mr-2 mb-2 items-center justify-center bg-theme-1 text-white p-button p-component"
                          [disabled]="formControleGroup.invalid"  type="submit"></p-button>
                        <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                            styleClass="p-ripple p-element button w-32 mr-2 mb-2 items-center justify-center bg-theme-6 text-white p-button p-component" (click)="dialogRef.close(false)"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>