<form [formGroup]="userMessageInitialForm" (ngSubmit)="OnSaveForms()">
    <div class="content">
        <div class="card">
            <div class="card-header text-center mt-1">
                <h4>{{data.title}}</h4>
            </div>
            <div class="intro-y box p-5 mt-12 sm:mt-5">
                <div class="grid grid-cols-12 gap-5 mt-5">

                         <input type="text" formControlName="id" class="form-control " hidden>


                    <div class="col-span-12 sm:col-span-5 xxl:col-span-5 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"TOUESER"|translate}}<span class="required-asterisk">*</span></label>
                        <p-multiSelect emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                            [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                            optionLabel="text" optionValue="id" [options]="usersList" [filter]="true"
                            filterBy="text"  autoWidth="false"
                            [(ngModel)]="selectedUser" formControlName="toUserList"
                            [virtualScroll]="false">
                        </p-multiSelect>
                    </div>

                    <div class="col-span-12 sm:col-span-5 xxl:col-span-5 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"PRIORATYDGREE"|translate}}<span class="required-asterisk">*</span></label>
                        <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                            [style]="{'minWidth':'100%', 'width': '100%'}" 
                            styleClass="input border w-full mt-1"
                            optionLabel="text" optionValue="id"
                            [options]="priortitiesList" [filter]="true" filterBy="text"
                            formControlName="messagePriority" appendTo="body" autoWidth="false" [virtualScroll]="false"
                            [(ngModel)]="selectedprioraty">
                        </p-dropdown>
                    </div>


                    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                        <label class="control-label font-weight-bold">{{"MESSAGE"|translate}}<span class="required-asterisk">*</span></label>
                        <textarea class="input border w-full mt-1" formControlName="msg" [(ngModel)]="msg" [cols]="63" [rows]="5"
                            pInputTextarea></textarea>
                    </div>
                 

                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1" mat-dialog-actions align="end">
                        <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4"  *ngIf="!hidesave" styleClass="
                        p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                          [disabled]="userMessageInitialForm.invalid"  type="submit"></p-button>

                        <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                            styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-6 text-white p-button p-component" (click)="dialogRef.close(false)"></p-button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>