.custom-star-icon {
    color: gold; 
    font-size: 24px;
    margin-right: 16px;
  }
  
  .custom-star-icon2  
  {
    color: gray; 
    font-size: 24px;
    margin-right: 16px;
  }


  .due-row {
  background-color: #ffdddd !important; /* light red */
  color: #a30000; /* darker text */
}