 <app-follow-up-search (searchResultEvent)="handleSearchResult($event)"></app-follow-up-search> 
<div class="container">
    <p-table #dt [value]="Data" [rows]="10" [paginator]="true"
        [globalFilterFields]="['followUpTypeName','relatedId', 'description', 'dueDate', 'convertedtoName','statusName']"
        styleClass="p-datatable-gridlines" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{{ 'showing' | translate }} {first} {{ 'to' | translate }} {last} {{ 'of' | translate }} {totalRecords} {{ 'entries' | translate }}"
        [showCurrentPageReport]="true">

        <ng-template pTemplate="caption">
            <div class="grid grid-cols-12 gap-5">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="pInputText input border w-full mt-1" pInputText type="text"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="{{ 'search' | translate }}" />
                    </span>
                </div>

                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-4">
                    <p-button label="{{ 'AddNew' | translate }}"
                        styleClass="p-ripple p-element button w-32 mr-2 mb-2 items-center justify-center bg-theme-1 text-white p-button p-component"
                        icon="pi pi-plus" (click)="OpenFollowUpFormPopUp(0,{},true)"></p-button>
                </div>

                <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mt-5" align="end">
                    <i class="pi pi-star-fill" [ngClass]="{'custom-star-icon': custom, 'custom-star-icon2': !custom}"
                        (click)="updateFavourite(this.screenId)" title="{{ 'AddToFavourite' | translate }}"
                        tooltipposition="bottom"></i>

                    <button title="{{ 'ExportToExcel' | translate }}" class="mr-2 button px-2 mr-1 mb-2 text-gray-700"
                        type="button" pbutton="" pripple="" icon="pi pi-file-excel" ptooltip="XLS"
                        (click)="exportExcel(dt)" tooltipposition="bottom">
                        <img src="../../../../assets/dist/images/icons/excel.svg" width="20px">
                    </button>

                    <button title="{{ 'ExportToPdf' | translate }}" class="mr-2 button px-2 mr-1 mb-2 text-gray-700"
                        type="button" pbutton="" pripple="" icon="pi pi-file-pdf" ptooltip="PDF" (click)="exportPdf(dt)"
                        tooltipposition="bottom">
                        <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px">
                    </button>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th class="head_tb" pSortableColumn="followUpTypeName">{{'FollowUpType' | translate}}</th>
                <th class="head_tb" pSortableColumn="relatedId">{{'ClientOpportunityNumber' | translate}}</th>
                <th class="head_tb" pSortableColumn="description">{{'Subject' | translate}}</th>
                <th class="head_tb" pSortableColumn="dueDate">{{'Dateandtimeofimplementation' | translate}}</th>
                <th class="head_tb" pSortableColumn="convertedtoName">{{'Employeer' | translate}}</th>
                <th class="head_tb" pSortableColumn="statusName">{{'Status' | translate}}</th>
                <th class="text-center-m"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" class="p-datatable-tbody" let-follow>
            <tr [ngClass]="{ 'due-row': follow.isDueFollowUp }">
                <td hidden>{{ follow.id }}</td>
                <td style="text-align: justify;">{{ follow.followUpTypeName }}</td>
                <td style="text-align: justify;">{{ follow.relatedDisplay }}</td>
                <td style="text-align: justify;">{{ follow.description }}</td>
                <td style="text-align: justify;">{{ follow.dueDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td style="text-align: justify;">{{ follow.convertedtoName}}</td>
                <td style="text-align: justify;">{{ follow.statusName }}</td>

                <td style="width:5%">
                    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                        <mat-icon class="">more_vert</mat-icon>
                    </button>
                    <mat-menu #userMenu="matMenu">

                          <button mat-menu-item (click)="OpenFollowUpFormPopUp(follow.id, follow, false, true)"> <!-- تفاصيل -->
                            <i class="material-icons">remove_red_eye</i> &nbsp;{{"showDetails"|translate}}
                        </button>


                        <button mat-menu-item (click)="OpenFollowUpFormPopUp(follow.id, follow, false, false)"
                         [disabled]="follow.statusName === 'ملغي' || follow.statusName === 'منجز'"><!-- تعديل -->
                            <i class="material-icons" style="color:blue">edit</i> &nbsp;{{"Edit"|translate}}
                        </button>

                        <button mat-menu-item (click)="Close(follow.id)"  [disabled]="follow.statusName === 'ملغي' || follow.statusName === 'منجز'"> <!--  حذف -->
                            <i class="material-icons" style="color:red">cancel</i>
                            &nbsp;{{"Close"|translate}}
                        </button>

                        <button mat-menu-item (click)="Cancel(follow.id)"
                         [disabled]="follow.statusName === 'ملغي' || follow.statusName === 'منجز'"> <!--  حذف -->
                            <i class="material-icons" style="color:red">delete</i>
                            &nbsp;{{"Delete"|translate}}
                        </button>

                    </mat-menu>
                </td>

            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr class="odd">
                <td valign="top" colspan="8">{{ 'noEntriesFoundLabel' | translate }}</td>
            </tr>
        </ng-template>

    </p-table>
</div>
<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>