<div class="intro-y box px-5 pb-5 mb-5">
    <div [hidden]="showLoader">
        <br>
        <form [formGroup]="AgreementsForm" (ngSubmit)="OnSaveForms()">
            <input type="text" formControlName="id" class="form-control" hidden>

            <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                <mat-vertical-stepper [linear]="false" class="w-full">

                    <!-- Step 1 – بيانات الاتفاقية -->
                    <mat-step label="بيانات الاتفاقية">
                        <div class="grid grid-cols-12 gap-5 mt-5">

                            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">
                                    {{"AgreementType"|translate}}<span class="required-asterisk">*</span>
                                </label>

                                <div class="flex items-center gap-6 mt-2">

                                    <div class="radio-align flex items-center">
                                        <input type="radio" name="agreementType" [value]="1"
                                            formControlName="agreementType"
                                            [attr.disabled]="disableAll ? 'disabled' : null">&nbsp;
                                        <label class="control-label ml-2">
                                            {{"Public"|translate}}
                                        </label>
                                    </div>

                                    <div class="radio-align flex items-center">
                                        <input type="radio" name="agreementType" [value]="2"
                                            formControlName="agreementType"
                                            [attr.disabled]="disableAll ? 'disabled' : null">&nbsp;
                                        <label class="control-label ml-2">
                                            {{"ProjectName"|translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"SerialNo"|translate}}</label>
                                <input type="number" class="input border w-full mt-1 " formControlName="id" readonly
                                    [attr.disabled]="disableAll ? 'disabled' : null">
                            </div>

                            <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"AgreementName"|translate}}<span
                                        class="required-asterisk">*</span></label>
                                <input type="text" class="input border w-full mt-1" formControlName="dealName"
                                    [attr.disabled]="disableAll ? 'disabled' : null"
                                    [ngClass]="{ 'invalid-field': isEmpty(AgreementsForm.get('dealName')?.value)}">
                            </div>

                            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"AgreementNo"|translate}}<span
                                        class="required-asterisk">*</span></label>
                                <input type="text" class="input border w-full mt-1" formControlName="dealNo"
                                    [attr.disabled]="disableAll ? 'disabled' : null"
                                    [ngClass]="{ 'invalid-field': AgreementsForm.get('dealNo')?.value <= 0}">
                            </div>

                            <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"AgreementStatus"|translate}}<span
                                        class="required-asterisk">*</span></label>
                                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                    [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                                    optionLabel="text" optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                                    [disabled]="disableAll ? 'disabled' : null" autoWidth="false"
                                    [virtualScroll]="false" formControlName="dealType" [options]="AgreementTypeList"
                                    [ngClass]="{ 'invalid-field': AgreementsForm.get('dealType')?.value <= 0}">
                                </p-dropdown>
                            </div>


                        </div>
                        <div class="mt-5 text-right">
                            <button type="button" mat-raised-button matStepperNext>التالي</button>
                        </div>
                    </mat-step>

                    <!-- Step 2 – تفاصيل الاتفاقية -->
                    <mat-step label="تفاصيل الاتفاقية">
                        <div class="grid grid-cols-12 gap-5 mt-5">

                            <div class="col-span-12 sm:col-span-5 xxl:col-span-5 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">
                                    {{"AgreementSummary"|translate}}<span class="required-asterisk">*</span></label>
                                <textarea class="input border w-full mt-1" formControlName="dealSummary" rows="2"
                                    [disabled]="disableAll"
                                    [ngClass]="{ 'invalid-field': isEmpty(AgreementsForm.get('dealSummary')?.value) }"></textarea>
                            </div>


                            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                                <label
                                    class="control-label font-weight-bold">{{"AgreementSignatureDate"|translate}}</label>
                                <input type="date" class="input border w-full mt-1 " formControlName="dealSignDate"
                                    [attr.disabled]="disableAll ? 'disabled' : null">
                            </div>
                            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"FromDate"|translate}}</label>
                                <input type="date" class="input border w-full mt-1 " formControlName="dealFromDate"
                                    (change)="onDateChange()" [attr.disabled]="disableAll ? 'disabled' : null">
                            </div>
                            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"ToDate"|translate}}</label>
                                <input type="date" class="input border w-full mt-1 " formControlName="dealToDate"
                                    (change)="onDateChange()" [attr.disabled]="disableAll ? 'disabled' : null">
                                <div *ngIf="AgreementsForm.get('dealToDate')?.errors?.projEndBeforeStart && AgreementsForm.get('dealToDate')?.touched"
                                    class="text-red-600 text-sm mt-1">
                                    {{ "StartDateGratterThanEndDate" | translate }}
                                </div>
                            </div>
                            <div class="col-span-12 sm:col-span-1 xxl:col-span-1 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"DurationAgreement"|translate}}</label>
                                <input type="number" class="input border w-full mt-1 " [value]="monthsDiff"
                                    [attr.disabled]="disableAll ? 'disabled' : null">
                            </div>


                        </div>
                        <div class="mt-5 text-right">
                            <button type="button" mat-raised-button matStepperPrevious
                                class="mr-2">السابق</button>&nbsp;
                            <button type="button" mat-raised-button matStepperNext>التالي</button>
                        </div>
                    </mat-step>

                    <!-- Step 3 – الأطراف -->
                    <mat-step label="الأطراف">
                        <div class="grid grid-cols-12 gap-5 mt-5">


                            <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"FirstParty"|translate}}<span
                                        class="required-asterisk">*</span></label>
                                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                    [style]="{'width': '100%'}" styleClass="input border w-full mt-1" optionLabel="text"
                                    optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                                    [disabled]="disableAll ? 'disabled' : null" autoWidth="false"
                                    formControlName="firstParty" [options]="FirstPartyList" scrollHeight="200px"
                                    [ngClass]="{ 'invalid-field': AgreementsForm.get('firstParty')?.value <= 0}"
                                    [virtualScroll]="true" [lazy]="true" (onLazyLoad)="loadLazyOptions($event)"
                                    [virtualScrollItemSize]="40"
                                    (onChange)="FirstPartyChange(AgreementsForm.get('firstParty')?.value)">
                                </p-dropdown>
                            </div>
                            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"COUNTRY"|translate}}</label>
                                <input type="text" class="input border w-full mt-1" [(ngModel)]="country1"
                                    [ngModelOptions]="{standalone: true}"
                                    [attr.disabled]="disableAll ? 'disabled' : null" readonly="true">
                            </div>

                            <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"SecondParty"|translate}}<span
                                        class="required-asterisk">*</span></label>
                                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                    [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                                    [disabled]="disableAll ? 'disabled' : null" optionLabel="text" optionValue="id"
                                    [filter]="true" filterBy="text" appendTo="body" autoWidth="false"
                                    [virtualScroll]="true" formControlName="secondParty" [options]="SecondPartyList"
                                    [ngClass]="{ 'invalid-field': AgreementsForm.get('secondParty')?.value <= 0}"
                                    [lazy]="true" (onLazyLoad)="loadLazyOptions($event)" [virtualScrollItemSize]="40"
                                    (onChange)="SecondPartyChange(AgreementsForm.get('secondParty')?.value)">
                                </p-dropdown>
                            </div>
                            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                                <label for="country2"
                                    class="control-label font-weight-bold">{{"COUNTRY"|translate}}</label>
                                <input type="text" class="input border w-full mt-1" [(ngModel)]="country2"
                                    [ngModelOptions]="{standalone: true}"
                                    [attr.disabled]="disableAll ? 'disabled' : null" readonly="true">
                            </div>

                            <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"ThirdParty"|translate}}</label>
                                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                    [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                                    optionLabel="text" optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                                    [disabled]="disableAll ? 'disabled' : null" autoWidth="false" [virtualScroll]="true"
                                    formControlName="thirdParty" [options]="ThirdPartyList"
                                    (onChange)="ThirdPartyChange(AgreementsForm.get('thirdParty')?.value)" [lazy]="true"
                                    (onLazyLoad)="loadLazyOptions($event)" [virtualScrollItemSize]="40">
                                </p-dropdown>
                            </div>

                            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                                <label for="country3"
                                    class="control-label font-weight-bold">{{"COUNTRY"|translate}}</label>
                                <input type="text" class="input border w-full mt-1" [(ngModel)]="country3"
                                    [ngModelOptions]="{standalone: true}"
                                    [attr.disabled]="disableAll ? 'disabled' : null" readonly="true">
                            </div>

                            <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"FourthParty"|translate}}</label>
                                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                    [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                                    optionLabel="text" optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                                    [disabled]="disableAll ? 'disabled' : null" autoWidth="false" [virtualScroll]="true"
                                    formControlName="fourthParty" [options]="FourthPartyList"
                                    (onChange)="FourthPartyChange(AgreementsForm.get('fourthParty')?.value)"
                                    [lazy]="true" (onLazyLoad)="loadLazyOptions($event)" [virtualScrollItemSize]="40">
                                </p-dropdown>
                            </div>

                            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                                <label for="country3"
                                    class="control-label font-weight-bold">{{"COUNTRY"|translate}}</label>
                                <input type="text" class="input border w-full mt-1" [(ngModel)]="country4"
                                    [ngModelOptions]="{standalone: true}"
                                    [attr.disabled]="disableAll ? 'disabled' : null" readonly="true">
                            </div>


                        </div>
                        <div class="mt-5 text-right">
                            <button type="button" mat-raised-button matStepperPrevious class="mr-2">
                                السابق
                            </button>&nbsp;
                            <button type="button" mat-raised-button matStepperNext>التالي</button>
                        </div>
                    </mat-step>

                    <!-- Step 4 – البيانات المالية -->
                    <mat-step label="البيانات المالية">
                        <div class="grid grid-cols-12 gap-5 mt-5">

                            <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                                <label for="currencyId"
                                    class="control-label font-weight-bold">{{"Currency"|translate}}<span
                                        class="required-asterisk">*</span></label>
                                <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                    [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                                    optionLabel="text" optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                                    [disabled]="disableAll ? 'disabled' : null" autoWidth="false"
                                    [virtualScroll]="false" formControlName="currencyId" [options]="currencyList"
                                    (onChange)="getCurrencyRate($event)"
                                    [ngClass]="{ 'invalid-field': isEmpty(AgreementsForm.get('currencyId')?.value <= 0) }">
                                </p-dropdown>
                            </div>

                            <div class="col-span-12 sm:col-span-1 xxl:col-span-1 cursor-pointer mt-1">
                                <label for="currRate"
                                    class="control-label font-weight-bold">{{"ConverionFactor"|translate}}<span
                                        class="required-asterisk">*</span></label>
                                <input type="number" class="input border w-full mt-1" formControlName="currRate"
                                    [readOnly]="disableCurrRate" [attr.disabled]="disableAll ? 'disabled' : null"
                                    [ngClass]="{ 'invalid-field': isEmpty(AgreementsForm.get('currRate')?.value ) }">
                            </div>


                <div
                        class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1"*ngIf="AgreementsForm.get('currencyId')?.value > 2">
                        <label for="dealAmount" class="control-label font-weight-bold">{{"TotalProject" | translate}}</label>
                        <input type="text" class="input border w-full mt-1" formControlName="dealAmount">
                </div>

                        <!-- [attr.disabled]="disableAll ? 'disabled' : null"
                        (input)="onAgreementAmountChange(AgreementsForm.get('dealAmount').value)"
                        [ngClass]="{ 'invalid-field': AgreementsForm.get('dealAmount').value <= 0 && AgreementsForm.get('currencyId').value === 1}"
                        [readOnly]="!disableCurrRate" -->
           

                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label for="dinarAmount"
                        class="control-label font-weight-bold">{{"AgreementsValue"|translate}}</label>
                    <input type="text" class="input border w-full mt-1" formControlName="dinarAmount"
                        [attr.disabled]="disableAll ? 'disabled' : null"
                        (input)="onAgreementAmountChange(AgreementsForm.get('dinarAmount')?.value)"
                        [ngClass]="{ 'invalid-field': AgreementsForm.get('dinarAmount')?.value <= 0 && AgreementsForm.get('currencyId')?.value === 1}">
                        <!-- [readOnly]="AgreementsForm.get('currencyId')?.value > 2" -->
                </div>
   <!-- [attr.disabled]="disableAll ? 'disabled' : null" [readOnly]="disableCurrRate" -->
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label for="dealAmountInDollars"
                        class="control-label font-weight-bold">{{"AgreementValueInDollars"|translate}}</label>
                    <input type="text" class="input border w-full mt-1" [(ngModel)]="dealAmountInDollars"
                        (ngModelChange)="onDollarChange(dealAmountInDollars)" [ngModelOptions]="{standalone: true}"
                     
                        [ngClass]="{ 'invalid-field':  dealAmountInDollars === '' && AgreementsForm.get('currencyId')?.value ==2 }">
                </div>
                
         

                        </div>
                        <div class="mt-5 text-right">
                            <button type="button" mat-raised-button matStepperPrevious class="mr-2">
                                السابق
                            </button>
                        </div>
                    </mat-step>





                </mat-vertical-stepper>


            </div>




            <div class="grid grid-cols-12 gap-5 mt-5">
                <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                    <div class="intro-y tab-content">


                        <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">
                            <a data-toggle="tab" data-target="#f01" href="javascript:;"
                                class="py-4 sm:mr-8 ">{{"VoucherAttachments"|translate}}</a>
                        </div>


                        <div>
                            <div class="tab-content__pane active" id="f01">

                                <app-app-general-attachment [voucherId]="id"> </app-app-general-attachment>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">

                <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4" type="submit" [hidden]="showsave"
                    [disabled]="AgreementsForm.invalid|| disableSave"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component">
                </p-button>

                <p-button label='{{"Delete"|translate}}' color="warn" icon="pi pi-trash" class="ml-4"
                    [hidden]="showsave" [disabled]="AgreementsForm.invalid"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    type="button" (click)="DeleteAgreement(this.AgreementsForm.value.id)">
                </p-button>

                <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                    [routerLink]="['/Agreements/AgreementsList']"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-6 text-white p-button p-component">
                </p-button>
            </div>
        </form>
    </div>
</div>

<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>