<!-- <div class="intro-y box px-5 pt-5"> -->
    <app-app-search-form (searchResultEvent)="handleSearchResult($event)" [voucherTypeEnum]="126"></app-app-search-form>
<!-- </div> -->
<div class="container">
    <p-table #dt [value]="tabelData" [rows]="10" [paginator]="true" 
    [globalFilterFields]="['voucherTypeName','voucherNo','voucherDate','branchName','custName','currencyName','currRate','amount','note','paymentMethods','statusName']"
        styleClass="p-datatable-gridlines" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{{'showing'|translate}} {first} {{'to'|translate}}  {last} {{'of'|translate}} {totalRecords} {{'entries'|translate}}"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" paginatorDropdownAppendTo="body">
        <ng-template pTemplate="caption">
            <div class="grid grid-cols-12 gap-5 ">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="pInputText input border w-full mt-1" pInputText type="text"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder=' {{"search"|translate}} ' />
                    </span>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-4 ">
                    <p-button label='{{"AddNew"|translate}}'
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    icon="pi pi-plus" (click)="AddSupplierReceiptVoucherForm(0)"></p-button>
                </div> 
                <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mt-5" align="end">
                    <i class="pi pi-star-fill" 
                        [ngClass]="{'custom-star-icon': custom, 'custom-star-icon2': !custom}"
                        (click)="updateFavourite(this.screenId)"
                        title= "{{'AddToFavourite' | translate}}"
                        tooltipposition="bottom">
                    </i>
                    <button title="{{'ExportToExcel' | translate}}" class="mr-2" type="button" pbutton=""
                    pripple="" icon="pi pi-file-excel" ptooltip="XLS" (click)="exportExcel()"
                    tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                    <img src="../../../../assets/dist/images/icons/excel.svg" width="20px">
                    </button>
                    <button title="{{'ExportToPdf' | translate}}" class="mr-2" type="button" pbutton=""
                            pripple="" icon="pi pi-file-excel" ptooltip="PDF" (click)="exportPdf()"
                            tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                            <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px">
                    </button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="voucherTypeName">{{"VoucherType"|translate}} <p-sortIcon field="voucherTypeName"></p-sortIcon></th>
                <th pSortableColumn="voucherNo">{{"VoucherNo"|translate}} <p-sortIcon field="voucherNo"></p-sortIcon></th>
                <th pSortableColumn="voucherDate">{{"VoucherDate"|translate}} <p-sortIcon field="voucherDate"></p-sortIcon>
                <th pSortableColumn="branchName">{{"Branch"|translate}} <p-sortIcon field="branchName"></p-sortIcon></th>
                <th pSortableColumn="custName">{{"Supplier"|translate}} <p-sortIcon field="custName"></p-sortIcon></th>
                <th pSortableColumn="currencyName">{{"Currency"|translate}} <p-sortIcon field="currencyName"></p-sortIcon></th>
                <th pSortableColumn="currRate">{{"ExchangeRate"|translate}} <p-sortIcon field="currRate"></p-sortIcon></th>
                <th pSortableColumn="amount">{{"total"|translate}} <p-sortIcon field="amount"></p-sortIcon></th>
                <th pSortableColumn="note">{{"Notes"|translate}} <p-sortIcon field="note"></p-sortIcon></th>
                <th pSortableColumn="paymentMethods">{{"ReceiptMethod"|translate}} <p-sortIcon field="note"></p-sortIcon></th>
                <th pSortableColumn="statusName">{{"status"|translate}} <p-sortIcon field="statusName"></p-sortIcon></th>
                <th><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
            </tr>
        </ng-template>

        
        <ng-template pTemplate="body" class=".p-datatable-tbody " let-entryvouchers>
            <tr>
                <td>{{entryvouchers.voucherTypeName}}</td>
                <td>{{entryvouchers.voucherNo}}</td>
                <td>{{entryvouchers.voucherDate|date:'yyyy/MM/dd'}}</td>
                <td>{{entryvouchers.branchName}}</td>
                <td>{{entryvouchers.custName}}</td>
                <td>{{entryvouchers.currencyName}}</td>
                <td>{{entryvouchers.currRate}}</td>
                <td>{{formatCurrency(entryvouchers.amount,entryvouchers.currencyDecimals)}}</td>
                <td>{{entryvouchers.note}}</td>
                <td>{{entryvouchers.paymentMethods}}</td>
                <td>{{entryvouchers.statusName}}</td>
                <td style="width:5%">
                    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                        <mat-icon class="">more_vert</mat-icon>
                    </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="OpenDetailsForm(entryvouchers.id)"> 
                            <i class="material-icons" style="color:blue">visibility</i> &nbsp;{{"showDetails"|translate}} </button>
                        <button mat-menu-item (click)="OpenEntryVoucherForm(entryvouchers.id,false)" [disabled]="!entryvouchers.allowEditDelete">
                            <i class="material-icons" style="color:green">edit</i> &nbsp;{{"Edit"|translate}} </button>
                        <button mat-menu-item (click)="PostEntryVoucher(entryvouchers.id)" [disabled]="!entryvouchers.allowEditDelete"> 
                            <i class="material-icons" style="color:rgb(255, 166, 0)">done_all</i> &nbsp;{{"Post"|translate}} </button>
                        <button mat-menu-item (click)="DeleteVoucher(entryvouchers.id)" [disabled]="!entryvouchers.allowEditDelete"> 
                            <i class="material-icons" style="color:red">delete</i> &nbsp;{{"Delete"|translate}} </button>
                        <!-- <button mat-menu-item (click)="DeleteVoucher(entryvouchers.id)"> 
                            <i class="material-icons" style="color:rgba(0, 255, 76, 0.747)">repeat</i> &nbsp;{{"VoucherIteration"|translate}} </button> -->
                        <button mat-menu-item (click)="PrintSupplierrecieptvoucher(entryvouchers.id)"> 
                            <i class="material-icons" style="color:rgba(0, 119, 255, 0.836)">print</i> &nbsp;{{"PrintAction"|translate}} </button>
                        <button mat-menu-item (click)="CopyEntryvoucher(entryvouchers.id)"> 
                            <i class="material-icons" style="color:rgba(0, 255, 242, 0.507)">file_copy</i> &nbsp;{{"VoucherCopy"|translate}} </button>
                        <button mat-menu-item (click)="AttachmentEntryvoucher(entryvouchers.id)"> 
                            <i class="material-icons" style="color:black">attachment</i> &nbsp;{{"Attachments"|translate}} </button>                        
                    </mat-menu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="odd">
                <td valign="top" colspan="8"> {{"noEntriesFoundLabel"|translate}}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="footer">
            <tr>
                <td valign="top" colspan="6"> </td>
                <td>{{"total"|translate}}</td>
                <td>{{CalculateTotal()}}</td>
                <td colspan="4"></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>