<form [formGroup]="paymentDeliveryTermFormInitialForm" (ngSubmit)="OnSaveForms()">
    <div class="content">
        <div class="card">
            <div class="card-header text-center mt-5">
                <h1>{{data.title}}</h1>
            </div>
            <div class="intro-y box p-5 mt-12 sm:mt-5">
                <div class="grid grid-cols-12 gap-5 mt-5">
                   
                        <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                            <label class="control-label font-weight-bold">{{"TermType"|translate}}
                                <span class="required-asterisk">*</span>
                            </label>
                        </div>
                        <div class="radio_align col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                            <label class="form-check-label" for="">{{"PaymentTerm"|translate }}&nbsp; </label>
                            <input type="radio" [checked]="termsTypes==64"
                                formControlName="termType" name="termType" [value]="64"
                                class="form-check-input">
                        </div>
                        <div class="radio_align col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                            <label class="form-check-label" for="">{{"DeliveryTerm"|translate }}&nbsp;
                            </label>
                            <input type="radio" [checked]="termsTypes==65"
                            name="termType" [value]="65"
                                formControlName="termType"
                                class="form-check-input">
                        </div>
                   
                        <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                            <label class="control-label font-weight-bold">{{"ArabicName"|translate}}
                                <span class="required-asterisk">*</span>
                            </label>
                            <input type="text" class="input border w-full mt-1" formControlName="descrNameA">
                        </div>
                        <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                            <label class="control-label font-weight-bold">{{"EnglishName"|translate}}
                                <span class="required-asterisk">*</span>
                            </label>
                            <input type="text" class="input border w-full mt-1" formControlName="descrNameE">
                        </div>
                   
                        <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                            <label class="control-label font-weight-bold">{{"DueDays"|translate}}
                                <span class="required-asterisk">*</span>
                            </label>
                            <input type="number" class="input border w-full mt-1" formControlName="dueDays">
                        </div>
                        <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-6">

                            
                            <input id="check_Active"  [checked]="active==1" (change)="active=(active==0)?1:0"
                                type="checkbox" class="input border mr-2 mr-3 ml-3" />
                            <label class="cursor-pointer select-none" 
                                for="check_Active" >{{"Active"|translate}}</label>

                            <!-- <mat-checkbox [checked]="active==1" (change)="active=(active==0)?1:0"
                                class="pl-16">{{"Active"|translate}}</mat-checkbox> -->
                        </div>
                  
                        <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                            <label class="control-label font-weight-bold">{{"Notes"|translate}}</label>
                            <input type="text" class="input border w-full mt-1" formControlName="note">
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-5 mt-5">
                    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">
                        <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4" styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white p-button p-component"
                          [disabled]="paymentDeliveryTermFormInitialForm.invalid"  type="submit"></p-button>
                        <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                            styleClass="p-ripple p-element button w-32 mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white p-button p-component" (click)="dialogRef.close(false)"></p-button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
   
</form>