.overflow-scroll {
    overflow-y: scroll;
}

@media print {
    body {
        margin: 0;
        padding: 0;
        background-color: #fff;
        color: #000;
    }

    /* Apply print-specific styles to your elements */
    .header,
    .footer {
        display: block;
        text-align: center;
        margin: 10px;
        font-size: 16px;
    }

    /* You can hide elements that you don't want to print */
    .no-print {
        display: none;
    }
}