tr th{
    padding:16px 0;
    width: 10%;
}

.custom-star-icon {
  color: gold; 
  font-size: 24px;
  margin-right: 16px;
}

.custom-star-icon2  
{
  color: gray; 
  font-size: 24px;
  margin-right: 16px;
}