<div class="intro-y box px-5 pb-5 mb-5">
    <div [hidden]="showLoader">
        <br>
         
        <div class="grid grid-cols-12 gap-5 mt-5">           
            <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                <div class="intro-y box tab-content">                     
                    <div class="intro-y box px-5 pt-5 pb-5">
                        <div class="grid grid-cols-12 gap-5 pt-5">
                            <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"StudentNo"|translate}}</label>
                                <input type="number" class="input border w-full mt-1 "  [(ngModel)]="studentNo"
                                [ngModelOptions]="{standalone: true}">
                            </div>
  
                             <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mb-5 mr-2 mt-6" *ngIf="studentNo != null && studentNo > 0">
                                <p-button label='{{"showing"|translate}}'
                                    styleClass="p-ripple p-element button w-32 mr-2 mb-5 items-center justify-center bg-theme-1 text-white p-button p-component"
                                    icon="" (click)="UnHideRow(studentNo,0)"></p-button>
                            </div>
                            <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mb-5 mr-2 mt-6">
                                <p-button label='{{"showAll"|translate}}'
                                    styleClass="p-ripple p-element button w-32 mr-2 mb-5 items-center justify-center bg-theme-1 text-white p-button p-component"
                                    icon="" (click)="UnHideRow(studentNo,1)"></p-button>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-5 pt-5">
                            <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                                <label class="control-label font-weight-bold">{{"VoucherNote"|translate}}</label>
                                <input type="text" class="input border w-full mt-1 "  [(ngModel)]="voucherNote"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <br>
                        <p-table #dt dataKey="id" [value]="StudentList" [rows]="10" [paginator]="true"
                            styleClass="p-datatable-gridlines" [rowHover]="true" scrollDirection="horizontal"
                            [globalFilterFields]="['accounts_Tree_ID','full_Name','specialization_Name','totalDebit']"
                            responsiveLayout="scroll" [showCurrentPageReport]="true" [rowHover]="true"
                            currentPageReportTemplate="{{'showing'|translate}} {first} {{'to'|translate}}  {last} {{'of'|translate}} {totalRecords} {{'entries'|translate}}">

                            <ng-template pTemplate="caption">

                                <div class="grid grid-cols-12 gap-5 ">

                                    <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 mb-5">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input class="pInputText input border w-full mt-1" pInputText type="text"
                                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                placeholder=' {{"search"|translate}} ' />
                                        </span>
                                    </div>


                                    <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mt-5"
                                        align="end">
                                        <p-button label='{{"ImportStudent"|translate}}'
                                            styleClass="p-ripple p-element button ml-3 items-center justify-center bg-theme-1 text-white p-button p-component"
                                            [style]="{'background-color': '#217346', 'border-color': '#217346'}"
                                            icon="pi pi-plus" (click)="onImportClick(fileInput)">
                                        </p-button>
                                        <p-button label='{{"SaveAll"|translate}}'
                                            styleClass="p-ripple p-element button ml-3 items-center justify-center bg-theme-1 text-white p-button p-component"
                                            icon="pi pi-plus" (click)="OnSaveAll(0)">
                                        </p-button>
                                        <!-- <p-button label='رفع سندات القبض'
                                            styleClass="p-ripple p-element button ml-3 items-center justify-center bg-theme-1 text-white p-button p-component"
                                            icon="pi pi-plus" (click)="UpdateReceipts()">
                                        </p-button> -->
                                    </div>
                                </div>

                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th><label><input type="checkbox" (change)="toggleAllCheckboxes($event,dt)"> {{
                                            "Choose" | translate }} </label></th>
                                    <th class="head_tb" pSortableColumn="accounts_Tree_ID">{{"StudentId"|translate}}</th>
                                    <th class="head_tb" pSortableColumn="full_Name">{{"StudentName"|translate}}</th>
                                    <th class="head_tb" pSortableColumn="specialization_Name">{{"Major"|translate}}</th>
                                    <th class="head_tb" pSortableColumn="oldDebit" >{{"OldFees"|translate}}</th>
                                    <th class="head_tb" pSortableColumn="totalDebit">{{"NewFees"|translate}}</th>
                                    <th class="head_tb" pSortableColumn="totalDebit" >{{"Difference"|translate}}</th>
                                    <th class="head_tb" pSortableColumn="totalDebit">{{"CreditAccount"|translate}}</th>   
                                    <th style="text-align: center !important;">{{"Hide"|translate}}</th>                                  
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" class=".p-datatable-tbody" let-row let-i="rowIndex">
                                <tr>
                                    <td style="text-align: justify;"><input type="checkbox" [(ngModel)]="row.isChecked"
                                            [ngModelOptions]="{standalone: true}"
                                            (ngModelChange)="updateIsAnyRowChecked()"></td>
                                    <td>
                                        {{row.accounts_Tree_ID}}
                                    </td>
                                    <td>
                                        {{row.full_Name}}
                                    </td>
                                    <td>
                                        {{row.specialization_Name}}
                                    </td>
                                    <td >
                                        {{row.oldDebit}}
                                    </td>
                                    <td>
                                        {{row.totalDebit}}
                                    </td>
                                    <td >
                                        {{ row.oldDebit - row.totalDebit }}
                                    </td>
                                    <td>
                                        <p-dropdown [options]="accountsList" optionLabel="text" optionValue="id"  [(ngModel)]="row.accId"
                                            [filter]="true" filterBy="text" appendTo="body" [virtualScroll]="false"
                                            [style]="{'minWidth':'100%', 'width': '100%'}"
                                            [ngClass]="{ 'invalid-field': row.accId <= 0}">
                                        </p-dropdown>
                                    </td>
                                   <td style="text-align: center;">
                                        <button
                                            pButton
                                            type="button"
                                            icon="pi pi-eye-slash"
                                            class="p-button-rounded p-button-text p-button-plain custom-icon-btn"
                                            pTooltip="{{MessageHide}}"
                                            tooltipPosition="top"
                                            tooltipAppendTo="body"
                                            tooltipStyleClass="table-tooltip"
                                            (click)="onHideRow(row.accounts_Tree_ID)">
                                        </button>
                                    </td>


                                </tr>
                            </ng-template>

                            <ng-template pTemplate="emptymessage">
                                <tr class="odd">
                                    <td valign="top" colspan="10">
                                        {{"noEntriesFoundLabel"|translate}}</td>
                                </tr>
                            </ng-template>

                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>