<div class="grid grid-cols-12 gap-3 pt-2">
    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
        <div class="intro-y box px-5 pb-5 mb-5" style="text-align: center;">
            <h3>{{"SalesForecastRpt"|translate}}</h3>    
            <div class="col-md-12" id="htmlData">
                <div class="grid grid-cols-12 gap-5 mt-5">
                    <div class="mt-1 col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer">
                        <div class="card mb-0 col-md-12">
                            <div class="card-body" style="align-content: center;">
                                <p-chart type="doughnut" id="myCostChart" [data]="data" [options]="options" width="100%" height="400px" ></p-chart>
                                <div class="chart-info">
                                    <div>
                                      <strong>Total Sales:</strong> {{ listSalesComparedToForecasting?.totalSales | number }}
                                    </div>
                                    <div>
                                      <strong>Total Forecast:</strong> {{ listSalesComparedToForecasting?.totalForcasting | number }}
                                    </div>
                                    <div>
                                      <strong>Percentage:</strong>
                                      {{ (listSalesComparedToForecasting?.totalSales / listSalesComparedToForecasting?.totalForcasting) * 100 | number: '1.0-2' }}%
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
        <div class="intro-y box px-5 pb-5 mb-5" style="text-align: center;">
            <h3>{{"MostSalesItems"|translate}}</h3>
            <div class="grid grid-cols-12 gap-5 mt-5">
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"COUNTRY"|translate}}</label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="CountryList"
                        styleClass="input border w-full mt-1" optionLabel="text" optionValue="id" [filter]="true"
                        filterBy="text" appendTo="body" autoWidth="false" [(ngModel)]="this.countryId"
                        (onChange)="getCustomers($event)" >
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Agent"|translate}}</label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="AgentsList"
                        styleClass="input border w-full mt-1" optionLabel="text" optionValue="data1" [filter]="true"
                        filterBy="text" appendTo="body" autoWidth="false" [(ngModel)]="this.agentId">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Year"|translate}}</label>
                    <input type="number" [(ngModel)]="this.year" class="input border w-full mt-1 ">
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mr-2 mt-5">
                    <p-button label='{{"ShowRecord"|translate}}'
                        styleClass="p-ripple p-element button w-32 mr-2 items-center justify-center bg-theme-1 text-white p-button p-component"
                        icon="" (click)="GetReport()"></p-button>
                </div>  
                <div class="mt-1 col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer">
                    <div class="card mb-0 col-md-12">
                        <div class="card-body">
                            <div style="width: 100%;"></div>
                            <canvas id="itemsSalesTotals"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</div>
<div class="grid grid-cols-12 gap-3 pt-2">
    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
        <div class="intro-y box px-5 pb-5 mb-5" style="text-align: center;">
            <h3 >{{"NewSalesOrdersList"|translate}}</h3>
                <form [formGroup]="DashboaredForm" >
                    <div class="grid grid-cols-12 gap-5 pt-5">                                                                                                                                  
<!-- Details  ------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                        <p-table #dt [value]="newSalesOrderList" dataKey="id" [loading]="loading" [rows]="10" [paginator]="true"      
                            styleClass="p-datatable-gridlines" [rowHover]="true" [scrollable]="true"
                            [resizableColumns]="true" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
                            currentPageReportTemplate="Show {first} To  {last} Of {totalRecords}"
                            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]">      
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:5%">{{"OrderNumber"|translate}}</th>
                                    <th style="width:5%">{{"MarketManager"|translate}}</th>
                                    <th style="width:5%">{{"COUNTRY"|translate}}</th>
                                    <th style="width:5%">{{"Agent"|translate}}</th>                               
                                    <th style="width:5%">{{"OrderDate"|translate}}</th>
                                    <th style="width:5%">{{"DeliveryDate"|translate}}</th>
                                    <th style="width:5%">{{"OrderStatus"|translate}}</th>
                                    <th style="width:5%"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" class=".p-datatable-tbody " let-salesOrder let-i="rowIndex">
                                <tr>
                                    <td style="width:5%">{{salesOrder.sales_No}}</td>
                                    <td style="width:5%">{{salesOrder.marketManagerName}}</td>
                                    <td style="width:5%">{{salesOrder.countryName}}</td>
                                    <td style="width:5%">{{salesOrder.customerName}}</td>
                                    <td style="width:5%">{{salesOrder.sdate|date:'yyyy/MM/dd'}}</td>
                                    <td style="width:5%">{{salesOrder.deliveryDate|date:'yyyy/MM/dd'}}</td>
                                    <td style="width:5%">{{salesOrder.statusName}}</td>
                                    <td style="width:5%">
                                        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                                            <mat-icon class="">more_vert</mat-icon>
                                        </button>
                                        <mat-menu #userMenu="matMenu">
                                            <button mat-menu-item (click)="ShowSalesOrder(salesOrder.trans_no)"> 
                                                <i class="material-icons" style="color:blue">visibility</i> &nbsp;{{"showDetails"|translate}} </button>
                                            <button mat-menu-item (click)="EditSalesOrder(salesOrder.trans_no,false)" >
                                                <i class="material-icons" style="color:green">edit</i> &nbsp;{{"Edit"|translate}} </button>
                                            <button mat-menu-item (click)="DeleteSalesOrder(salesOrder.trans_no)" > 
                                                <i class="material-icons" style="color:red">delete</i> &nbsp;{{"Delete"|translate}} </button>                           
                                            <button mat-menu-item (click)="ApproveSalesOrder(salesOrder.trans_no)"> 
                                                <i class="material-icons" style="color:green">check</i> &nbsp;{{"Approval"|translate}} </button>                                                   
                                        </mat-menu>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr class="odd">
                                    <td valign="top" colspan="10"> {{"noEntriesFoundLabel"|translate}}</td>
                                </tr>
                            </ng-template>

                        </p-table>
                    </div>
<!-- End      ------------------------------------------------------------------------------------------------------------------------------------->
                    </div>
                </form>
            <br>     
        </div>
    </div>
    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
        <div class="intro-y box px-5 pb-5 mb-5" style="text-align: center;">
            <h3>{{"SalesOrdersSendToProduction"|translate}}</h3>
            <div class="mt-1 col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer">
                        <div class="text-center"> </div>
                        <form [formGroup]="DashboaredForm" >
                            <div class="grid grid-cols-12 gap-5 pt-5">                                                                                                                 
                            <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                                <p-table #dt [value]="prodSalesList" dataKey="id" [loading]="loading" [rows]="10" [paginator]="true"      
                                    styleClass="p-datatable-gridlines" [rowHover]="true" [scrollable]="true"
                                    [resizableColumns]="true" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
                                    currentPageReportTemplate="Show {first} To  {last} Of {totalRecords}"
                                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]">      
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5%">{{"OrderNumber"|translate}}</th>
                                            <th style="width:5%">{{"MarketManager"|translate}}</th>
                                            <th style="width:5%">{{"COUNTRY"|translate}}</th>
                                            <th style="width:5%">{{"Agent"|translate}}</th>                               
                                            <th style="width:5%">{{"OrderDate"|translate}}</th>
                                            <th style="width:5%">{{"DeliveryDate"|translate}}</th>
                                            <th style="width:5%">{{"OrderStatus"|translate}}</th>
                                            <th style="width:5%"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" class=".p-datatable-tbody " let-salesOrder let-i="rowIndex">
                                        <tr>
                                            <td style="width:5%">{{salesOrder.sales_No}}</td>
                                            <td style="width:5%">{{salesOrder.marketManagerName}}</td>
                                            <td style="width:5%">{{salesOrder.countryName}}</td>
                                            <td style="width:5%">{{salesOrder.customerName}}</td>
                                            <td style="width:5%">{{salesOrder.sdate|date:'yyyy/MM/dd'}}</td>
                                            <td style="width:5%">{{salesOrder.deliveryDate|date:'yyyy/MM/dd'}}</td>
                                            <td style="width:5%">{{salesOrder.statusName}}</td>
                                            <td style="width:5%">
                                                <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                                                    <mat-icon class="">more_vert</mat-icon>
                                                </button>
                                                <mat-menu #userMenu="matMenu">
                                                    <button mat-menu-item (click)="ShowSalesOrder(salesOrder.trans_no)"> 
                                                        <i class="material-icons" style="color:blue">visibility</i> &nbsp;{{"showDetails"|translate}} </button>
                                                    <button mat-menu-item (click)="EditSalesOrder(salesOrder.trans_no,false)" >
                                                        <i class="material-icons" style="color:green">edit</i> &nbsp;{{"Edit"|translate}} </button>
                                                    <button mat-menu-item (click)="DeleteSalesOrder(salesOrder.trans_no)" > 
                                                        <i class="material-icons" style="color:red">delete</i> &nbsp;{{"Delete"|translate}} </button>                           
                                                    <button mat-menu-item (click)="ApproveSalesOrder(salesOrder.trans_no)"> 
                                                        <i class="material-icons" style="color:green">check</i> &nbsp;{{"Approval"|translate}} </button>                                                   
                                                </mat-menu>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr class="odd">
                                            <td valign="top" colspan="10"> {{"noEntriesFoundLabel"|translate}}</td>
                                        </tr>
                                    </ng-template>
        
                                </p-table>
                            </div>
                            </div>
                        </form>
                    </div>                      
        </div>
    </div>
    <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
        <div class="intro-y box px-5 pb-5 mb-5" style="text-align: center;">
            <h3>{{"SalesRateDependsOnMarket"|translate}}</h3>
            <div class="grid grid-cols-12 gap-5 mt-5">
                <div class="mt-1 col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer">
                    <div class="card mb-0 col-md-12">
                        <div class="card-body">
                            <div style="width: 100%;"></div>
                            <canvas id="countrySalesTotals"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>