.chart-container {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}