<br>
<div class="intro-y box px-5 pb-5 mb-5">
    <div [hidden]="showLoader">

        <form [formGroup]="AccountAddForm" (ngSubmit)="OnSaveForms()">
            <input type="text" formControlName="id" class="form-control " hidden>
            <input type="text" formControlName="accLevel" class="form-control " hidden>
            <input type="text" formControlName="accOrder" class="form-control " hidden>
            <input type="text" formControlName="hasChild" class="form-control " hidden>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ParentAccount"|translate}}
                    </label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="accountsList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="parentAccId"
                        filterBy="text" appendTo="body" autoWidth="false" [virtualScroll]="false"
                        (onChange)="GetAccountNo($event)">
                        <!-- [(ngModel)]="parentAccId"> -->
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"AccountNo"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <input type="text" formControlName="accNo" class="input border w-full mt-1 "
                        (blur)="IsValidAccNo($event)">
                </div>
                <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ArabicName"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <input type="text" formControlName="accNameA" class="input border w-full mt-1 "
                        (blur)="IsValidAccNameA($event)">
                </div>
                <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"EnglishName"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <input type="text" formControlName="accNameE" class="input border w-full mt-1 "
                        (blur)="IsValidAccNameE($event)">
                </div>
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"AccountType"|translate}} <span
                            class="required-asterisk">*</span></label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="accountTypeList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="accType" filterBy="text"
                        appendTo="body" autoWidth="false" [virtualScroll]="false" [disabled]="hasChild">
                        <!-- [(ngModel)]="parentAccId"> -->
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"DefaultCurrency"|translate}}</label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="currencyList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="currencyId" filterBy="text"
                        appendTo="body" autoWidth="false" [virtualScroll]="false">
                        <!-- [(ngModel)]="parentAccId"> -->
                    </p-dropdown>
                </div>

                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1" *ngIf="useCostCenter">
                    <label class="control-label font-weight-bold">{{"CostCenterPolicy"|translate}}</label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                        [options]="costCenterPolicyList" [style]="{'minWidth':'100%', 'width': '100%'}"
                        styleClass="input border w-full mt-1" optionLabel="text" optionValue="id" [filter]="true"
                        formControlName="costCenterPolicy" filterBy="text" appendTo="body" autoWidth="false"
                        [virtualScroll]="false">
                        <!-- [(ngModel)]="parentAccId"> -->
                    </p-dropdown>
                </div>

                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1"  *ngIf="useProjects">
                    <label class="control-label font-weight-bold">{{"ProjectPolicy"|translate}}</label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                        [options]="ProjectPolicyList" [style]="{'minWidth':'100%', 'width': '100%'}"
                        styleClass="input border w-full mt-1" optionLabel="text" optionValue="id" [filter]="true"
                        formControlName="projectPolicy" filterBy="text" appendTo="body" autoWidth="false"
                        [virtualScroll]="false">
                    </p-dropdown>
                </div>

                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <input id="isMain" formControlName="isMain" type="checkbox" class="input border mr-2 mr-3 ml-3"  [attr.disabled]="hasChild || hasTransAction ? true : null"/>
                    <label class="cursor-pointer select-none w-full" for="isMain" >{{"BranchAccount"|translate}}</label>
                </div>
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <input type="checkbox" formControlName="isActive" class="input border mr-2 mr-3 ml-3">
                    <label class="cursor-pointer select-none w-full" for="isActive">{{"Active"|translate}}</label>
                </div>
                <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Notes"|translate}}</label>
                    <input type="text" formControlName="note" class="input border w-full mt-1 ">
                </div>
                <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold ml-3">{{"AccountNature"|translate}}: <span
                            class="required-asterisk">*</span></label>
                    <input type="radio" [value]="10" id="Checkbox1" name="accNature" class="input border w-full mt-1" formControlName="accNature"
                        [(ngModel)]="showClosingAcc" [checked]="showClosingAcc == 10" [attr.disabled]="hasChild ? true : null">
                    <label class="label mr-3" for="Checkbox1" >{{"BalanceSheet"|translate}}</label>
                    <input type="radio" [value]="11" id="Checkbox2" name="accNature" class="input border w-full mt-1" formControlName="accNature"
                        [(ngModel)]="showClosingAcc" [checked]="showClosingAcc == 11" [attr.disabled]="hasChild ? true : null">
                    <label class="label mr-3" for="Checkbox2" >{{"IncomeStatement"|translate}}</label>
                    <!-- <input type="radio" [value]="12" id="Checkbox3" name="accNature" class="input border w-full mt-1" formControlName="accNature"
                        [(ngModel)]="showClosingAcc" [checked]="showClosingAcc == 12" [attr.disabled]="hasChild ? true : null">
                    <label class="label mr-3" for="Checkbox3" >{{"Both"|translate}}</label> -->
                </div>
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1" *ngIf="showClosingAcc > 10">
                    <label class="control-label font-weight-bold">{{"ClosingAccounts"|translate}}</label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="closingAccountsList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="closingAccount"
                        filterBy="text" appendTo="body" autoWidth="false" [virtualScroll]="false" [disabled]="hasChild">
                        <!-- [(ngModel)]="parentAccId"> -->
                    </p-dropdown>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <input type="checkbox" formControlName="hasPermission" class="input border mr-2 mr-3 ml-3"
                        [(ngModel)]="showUsers">
                    <label class="cursor-pointer select-none w-full"
                        for="isActive">{{"SpecialPermession"|translate}}</label>
                </div>
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1" *ngIf="showUsers">
                    <label class="control-label font-weight-bold">{{"UsersWithAccess"|translate}}</label>
                    <p-multiSelect emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                        [style]="{'minWidth':'100%', 'width': '100%'}" optionLabel="text"
                        styleClass="input border w-full mt-1" optionValue="id" formControlName="usersId"
                        [options]="userList" [filter]="true" filterBy="text" appendTo="body" autoWidth="false"
                        [virtualScroll]="false" >
                    </p-multiSelect>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">
                <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    [disabled]="AccountAddForm.invalid" type="submit"></p-button>

                <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-6 text-white p-button p-component"
                    [routerLink]="['/Account/AccountTreeList']"></p-button>
            </div>
        </form>
    </div>
</div>

<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>