<br>
<div class="intro-y box px-5 pb-5 mb-5">
    <div [hidden]="showLoader">

        <form [formGroup]="SalesServiceInvoiceAddForm" (ngSubmit)="OnSaveForms()">
            <input type="text" formControlName="id" class="form-control " hidden>
            <input type="text" formControlName="companyId" class="form-control " hidden>
            <input type="text" formControlName="isCanceled" class="form-control " hidden>
            <input type="text" formControlName="isPosted" class="form-control " hidden>
            <input type="text" formControlName="status" class="form-control " hidden>
            <input type="text" formControlName="amount" class="form-control " hidden>
            <input type="text" formControlName="voucherTypeEnum" class="form-control " hidden>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"BillType"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="voucherTypeList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="value" optionValue="label" [filter]="true" formControlName="voucherTypeId"
                        filterBy="text" appendTo="body" autoWidth="false" [virtualScroll]="false"
                        (onChange)="getVoucherNo($event)"
                        [ngClass]="{ 'invalid-field': SalesServiceInvoiceAddForm.get('voucherTypeId').value <= 0}"
                        [disabled]="disableAll || disableVouchertype">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"BillNo"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <input type="text" formControlName="voucherNo" class="input border w-full mt-1 "
                        [ngClass]="{ 'invalid-field': isEmpty(SalesServiceInvoiceAddForm.get('voucherNo').value)}"
                        (blur)="voucherNoBlur(SalesServiceInvoiceAddForm.value.voucherNo, SalesServiceInvoiceAddForm.value.voucherTypeId)"
                        [attr.disabled]="allowEditVoucherSerial||disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"BillDate"|translate}}
                        <span class="required-asterisk">*</span>
                    </label>
                    <input type="date" formControlName="voucherDate" (blur)="isValidVoucherDate($event)"
                        class="input border w-full mt-1 " [ngClass]="{ 'invalid-field': !validDate}"
                        [attr.disabled]="allowEditDate||disableAll ? 'disabled' : null">
                    <span *ngIf="!validDate" class="required-asterisk">{{"msgInvalidDate"|translate}}</span>
                </div>
                <div class="col-span-12 sm:col-span-4 xxl:col-span-4 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Customer"|translate}} <span
                            class="required-asterisk">*</span>
                    </label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="customersList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" [(ngModel)]="dealerId"
                        [ngModelOptions]="{standalone: true}" filterBy="text" appendTo="body" autoWidth="false"
                        id="dealerId" [ngClass]="{ 'invalid-field': this.dealerId <= 0}"
                        [disabled]="disableAll"  (onChange)="getCustomerAcc($event)" 
                        [virtualScroll]="true" [lazy]="true" (onLazyLoad)="loadLazyCustomerOptions($event)"  [virtualScrollItemSize]="40">
                    </p-dropdown>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Branch"|translate}}
                    </label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="branchesList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="branchId" filterBy="text"
                        appendTo="body" autoWidth="false" [virtualScroll]="false"
                        [disabled]="allowEditBranch||disableAll">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-3 xxl:col-span-3 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"PDTerms"|translate}} </label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="pDtermsList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" [(ngModel)]="pDTerm"
                        [ngModelOptions]="{standalone: true}" filterBy="text" appendTo="body" autoWidth="false"
                        [virtualScroll]="false" [disabled]="disableAll">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Man"|translate}}</label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="employeeList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="representId"
                        filterBy="text" appendTo="body" autoWidth="false" [virtualScroll]="false"
                        [disabled]="disableAll">
                    </p-dropdown>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Currency"|translate}} <span
                            class="required-asterisk">*</span></label>
                    <p-dropdown emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}' [options]="currencyList"
                        [style]="{'minWidth':'100%', 'width': '100%'}" styleClass="input border w-full mt-1"
                        optionLabel="text" optionValue="id" [filter]="true" formControlName="currencyId" filterBy="text"
                        appendTo="body" autoWidth="false" [virtualScroll]="false" (onChange)="getCurrencyRate($event)"
                        [ngClass]="{ 'invalid-field': SalesServiceInvoiceAddForm.get('currencyId').value <= 0}"
                        [disabled]="disableAll">
                    </p-dropdown>
                </div>
                <!--  -->
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ConverionFactor"|translate}}<span
                            class="required-asterisk">*</span></label>
                    <input type="number" formControlName="currRate" class="input border w-full mt-1"
                        [ngClass]="{ 'invalid-field': SalesServiceInvoiceAddForm.get('currRate').value <= 0}"
                        [attr.disabled]="disableAll ? 'disabled' : null" [readOnly]="disableCurrRate">
                </div>
            </div>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ReferenceNo"|translate}}</label>
                    <input type="text" formControlName="referenceNo" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"ReferenceDate"|translate}}</label>
                    <input type="date" formControlName="referenceDate" (blur)="isValidVoucherDate($event)"
                        class="input border w-full mt-1 " [ngClass]="{ 'invalid-field': !validDate}"
                        [attr.disabled]="disableAll ? 'disabled' : null">
                    <span *ngIf="!validDate" class="required-asterisk">{{"msgInvalidDate"|translate}}</span>
                </div>
                <div class="col-span-12 sm:col-span-5 xxl:col-span-5 cursor-pointer mt-1">
                    <label class="control-label font-weight-bold">{{"Notes"|translate}}</label>
                    <input type="text" formControlName="note" class="input border w-full mt-1 "
                        [attr.disabled]="disableAll ? 'disabled' : null">
                </div>
                <div class="col-span-12 sm:col-span-1 xxl:col-span-1 cursor-pointer mt-1">
                    <input id="servicesInvHD.isCash" [checked]="isCash==1" (change)="isCash=(isCash==0)?1:0"
                        type="checkbox" class="input border mr-3 ml-3 mt-5"
                        [attr.disabled]="disableAll ? 'disabled' : null" />
                    <label class="cursor-pointer select-none"
                        for="servicesInvHD.isCash">{{"CashBill"|translate}}</label>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <input id="servicesInvHD.priceWithTax" [checked]="pricewTax==1"
                        (change)="pricewTax=(pricewTax==0)?1:0" type="checkbox" class="input border mr-3 ml-3 mt-5"
                        (change)="onCheckboxChange(0,0,0)" [attr.disabled]="disableAll ? 'disabled' : null" />
                    <label class="cursor-pointer select-none"
                        for="servicesInvHD.priceWithTax">{{"PriceWithTax"|translate}}</label>
                </div>
            </div>
            <div class="card" class="card-blue">
                <div class="intro-y box px-5 pt-5 mt-5">
                    <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">
                        <a width="200px" data-toggle="tab" data-target="#f01" href="javascript:;"
                            class="py-4 sm:mr-8 active">{{"VoucherDetails"|translate}}</a>
                        <a data-toggle="tab" data-target="#f02" href="javascript:;"
                            class="py-4 sm:mr-8">{{"VoucherAttachments"|translate}}</a>
                        <a data-toggle="tab" data-target="#f03" href="javascript:;" *ngIf="voucherId > 0"
                            class="py-4 sm:mr-8">{{"FinancailVoucher"|translate}}</a>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-5 pt-5">
                    <div class="col-span-12 sm:col-span-6 xxl:col-span-6 cursor-pointer mt-1">
                        <input type="checkbox" class="input border mr-2 mr-3 ml-3" [hidden]="true" />
                    </div>
                </div>

                <div class="intro-y box tab-content">
                    <div class="tab-content__pane active" id="f01">
                        <div class="intro-y box px-5 pt-5">
                            <div class="col-md-12" id="htmlData">
                                <p-table #dt [value]="servicesInvDTList" [scrollable]="true" scrollHeight="felx"
                                    [paginator]="false" [globalFilterFields]="['',]" [rowHover]="true" dataKey="id"
                                    [style]="{width:'100%'}" [responsive]="true" [resizableColumns]="true"
                                    [showCurrentPageReport]="true">
                                    <ng-template pTemplate="caption">
                                        <div class="grid grid-cols-12 gap-5 ">
                                            <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mb-5">
                                                <p-button label='{{"AddLine"|translate}}'
                                                    styleClass="p-ripple p-element button w-32 mr-2 mb-5  items-center justify-center bg-theme-1 text-white p-button p-component"
                                                    icon="pi pi-plus" (click)="AddNewLine()"
                                                    [disabled]="disableAll"></p-button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 15%">{{"Services"|translate}}</th>
                                            <th style="width: 15%">{{"ServiceDesc"|translate}}</th>
                                            <th style="width: 15%">{{"Note"|translate}}</th>
                                            <th style="width: 6%">{{"Qty"|translate}}</th>
                                            <th style="width: 6%">{{"Price"|translate}}</th>
                                            <th style="width: 7%">{{"Total"|translate}}</th>
                                            <th style="width: 6%">{{"DiscountPerc"|translate}}</th>
                                            <th style="width: 6%">{{"Discount"|translate}}</th>
                                            <th style="width: 15%" *ngIf="UseTax">{{"Tax"|translate}}</th>
                                            <th style="width: 6%" *ngIf="UseTax">{{"TaxAmt"|translate}}</th>
                                            <th style="width: 7%">{{"NetTotal"|translate}}</th>
                                            <th style="width: 15%">{{"AccountNo"|translate}}</th>
                                            <th style="width: 15%" *ngIf="useCostCenter">{{"CostCenter"|translate}}
                                            </th>
                                            <th style="width: 3%"><i class="pi pi-cog" style="font-size: 1.2rem"></i>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" class=".p-datatable-tbody " let-servicesInvDTList
                                        let-i="rowIndex">
                                        <tr>
                                            <td style="width: 15%"><p-dropdown
                                                    emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                                    [options]="servicesList" styleClass="input border w-full mt-1"
                                                    optionLabel="text" optionValue="id" [filter]="true" filterBy="text"
                                                    appendTo="body" autoWidth="false"
                                                    [(ngModel)]="servicesInvDTList.serviceId"
                                                    (onChange)="onServiceChange($event,servicesInvDTList,i)"
                                                    [ngModelOptions]="{standalone: true}" [disabled]="disableAll"
                                                    (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                                </p-dropdown></td>
                                            <td style="width: 15%"><input type="text"
                                                    [(ngModel)]="servicesInvDTList.serviceDescr"
                                                    class="input border w-full mt-1 "
                                                    [ngModelOptions]="{standalone: true}"
                                                    [ngClass]="{ 'invalid-field': servicesInvDTList.serviceDescr == '' }"
                                                    [disabled]="disableAll" (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                            </td>
                                            <td style="width: 15%"><input type="text"
                                                    [(ngModel)]="servicesInvDTList.note"
                                                    class="input border w-full mt-1 "
                                                    [ngModelOptions]="{standalone: true}" [disabled]="disableAll"
                                                    (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                            </td>
                                            <td style="width: 6%"><input type="number"
                                                    [(ngModel)]="servicesInvDTList.qty"
                                                    (blur)="onCheckboxChange(0,servicesInvDTList,i)"
                                                    class="input border w-full mt-1 "
                                                    [ngModelOptions]="{standalone: true}"
                                                    [ngClass]="{ 'invalid-field': servicesInvDTList.qty <= 0 }"
                                                    [disabled]="disableAll" (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                            </td>

                                            <td style="width: 6%"><input type="number"
                                                    [(ngModel)]="servicesInvDTList.price"
                                                    (blur)="onCheckboxChange(0,servicesInvDTList,i)"
                                                    class="input border w-full mt-1 "
                                                    [ngModelOptions]="{standalone: true}"
                                                    [ngClass]="{ 'invalid-field': servicesInvDTList.price <= 0 }"
                                                    [disabled]="disableAll" (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                            </td>
                                            <td style="width: 7%"><input type="number"
                                                    [(ngModel)]="servicesInvDTList.total"
                                                    class="input border w-full mt-1 "
                                                    [ngModelOptions]="{standalone: true}" readonly
                                                    (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                            </td>
                                            <td style="width: 6%"><input type="number"
                                                    [(ngModel)]="servicesInvDTList.discount"
                                                    class="input border w-full mt-1 "
                                                    [ngModelOptions]="{standalone: true}" (blur)="onDiscountChange(i)"
                                                    [disabled]="disableAll" (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                            </td>
                                            <td style="width: 6%"><input type="number"
                                                    [(ngModel)]="servicesInvDTList.discountAmt"
                                                    class="input border w-full mt-1 "
                                                    [ngModelOptions]="{standalone: true}"
                                                    (blur)="onDiscountAmtChange(i)" [disabled]="disableAll"
                                                    (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                            </td>
                                            <td style="width: 15%" *ngIf="UseTax"><p-dropdown
                                                    emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                                    [options]="taxlist" [style]="{'minWidth':'100%', 'width': '100%'}"
                                                    styleClass="input border w-full mt-1" optionLabel="text"
                                                    optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                                                    autoWidth="false" [virtualScroll]="false"
                                                    [(ngModel)]="servicesInvDTList.taxId"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (onChange)="onTaxChange($event,i)" [disabled]="disableAll"
                                                    (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                                </p-dropdown></td>

                                            <td style="width: 6%" *ngIf="UseTax"><input type="number"
                                                    [(ngModel)]="servicesInvDTList.taxAmt" style="width: 100%;"
                                                    class="input border w-full mt-1 "
                                                    [ngModelOptions]="{standalone: true}"
                                                    [disabled]="isInputDisabled||disableAll"
                                                    (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                            </td>

                                            <td style="width: 7%"><input type="number"
                                                    [(ngModel)]="servicesInvDTList.netTotal"
                                                    class="input border w-full mt-1 "
                                                    [ngModelOptions]="{standalone: true}" readonly
                                                    (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                            </td>

                                            <td style="width: 15%"><p-dropdown
                                                    emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                                    [options]="accountsList"
                                                    [style]="{'minWidth':'100%', 'width': '100%'}"
                                                    styleClass="input border w-full mt-1" optionLabel="text"
                                                    optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                                                    autoWidth="false" [virtualScroll]="false"
                                                    [(ngModel)]="servicesInvDTList.accountId"
                                                    [ngClass]="{ 'invalid-field': servicesInvDTList.accountId <= 0}"
                                                    [ngModelOptions]="{standalone: true}" [disabled]="disableAll"
                                                    (onChange)="OnAccountChange($event,servicesInvDTList,i)"
                                                    (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                                </p-dropdown></td>
                                            <td style="width: 15%" *ngIf="useCostCenter"><p-dropdown
                                                    emptyFilterMessage='{{"noEntriesFoundLabel"|translate}}'
                                                    [options]="costCenterList"
                                                    [style]="{'minWidth':'100%', 'width': '100%'}"
                                                    styleClass="input border w-full mt-1" optionLabel="text"
                                                    optionValue="id" [filter]="true" filterBy="text" appendTo="body"
                                                    autoWidth="false" [virtualScroll]="false"
                                                    [(ngModel)]="servicesInvDTList.costCenterId"
                                                    [ngModelOptions]="{standalone: true}" [disabled]="disableAll"
                                                    (keydown)="handleF3Key($event, servicesInvDTList,i)">
                                                </p-dropdown></td>
                                            <td style="width: 3%">
                                                <button mat-icon-button [matMenuTriggerFor]="userMenu" class=""
                                                    type="button">
                                                    <mat-icon class="">more_vert</mat-icon>
                                                </button>
                                                <mat-menu #userMenu="matMenu">
                                                    <button mat-menu-item (click)="onAddRowBefore(i)" [disabled]="disableAll"> <i class="material-icons" style="color:green">add</i> &nbsp;{{"AddRowBefore"|translate}}</button>
                                                    <button mat-menu-item (click)="deleteRow(i)" [disabled]="disableAll"> <i class="material-icons" style="color:red">delete</i> &nbsp;{{"Delete"|translate}} </button>
                                                    <button mat-menu-item (click)="CopyRow(servicesInvDTList,i)"> <i class="material-icons" style="color:rgba(0, 255, 76, 0.747)">file_copy</i> &nbsp;{{"CopyRow"|translate}} </button>
                                                </mat-menu>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr class="odd">
                                            <td valign="top" colspan="14"> {{"noEntriesFoundLabel"|translate}}</td>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <td style="width: 70%" colspan="8"></td>
                                            <td style="width: 6%">{{"total"|translate}}</td>
                                            <td style="width: 10%" *ngIf="UseTax"></td>
                                            <td style="width: 6%" *ngIf="UseTax"></td>
                                            <td style="width: 7%">
                                                <input type="number" [value]="fTotal" style="width: 100%;"
                                                    class="input border w-full mt-1"
                                                    [ngModelOptions]="{standalone: true}" readonly>
                                            </td>
                                            <td [ngStyle]="{'flex': useCostCenter ? '0 0 28%' : '0 0 18%'}" colspan="3">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 70%" colspan="8"></td>
                                            <td style="color: black; width: 6%">{{"AllowedDiscount"|translate}}</td>
                                            <td style="width: 10%" *ngIf="UseTax"></td>
                                            <td style="width: 6%" *ngIf="UseTax"></td>
                                            <td style="width: 7%"><input type="number" [(ngModel)]="allowedDiscount"
                                                    style="color:black;width: 100%;"
                                                    [ngModelOptions]="{standalone: true}"
                                                    class="input border w-full mt-1"
                                                    (blur)="onCheckboxChange(0,servicesInvDTList,i)"
                                                    [disabled]="disableAll"></td>
                                            <td [ngStyle]="{'flex': useCostCenter ? '0 0 28%' : '0 0 18%'}" colspan="3">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 70%" colspan="8"></td>
                                            <td style="width: 6%">{{"TaxTotal"|translate}}</td>
                                            <td style="width: 10%" *ngIf="UseTax"></td>
                                            <td style="width: 6%" *ngIf="UseTax"></td>
                                            <td style="width: 7%">
                                                <input type="number" [value]="fTaxTotal" style="width: 100%;"
                                                    class="input border w-full mt-1"
                                                    [ngModelOptions]="{standalone: true}" readonly>
                                            </td>
                                            <td [ngStyle]="{'flex': useCostCenter ? '0 0 28%' : '0 0 18%'}" colspan="3">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 70%" colspan="8"></td>
                                            <td style="color: black; width: 6%">{{"NetTotal"|translate}}</td>
                                            <td style="width: 10%" *ngIf="UseTax"></td>
                                            <td style="width: 6%" *ngIf="UseTax"></td>
                                            <td style="width: 7%">
                                                <input type="number" [value]="fNetTotal" style="width: 100%;color: black;"
                                                    class="input border w-full mt-1"
                                                    [ngModelOptions]="{standalone: true}" readonly>
                                            </td>
                                            <td [ngStyle]="{'flex': useCostCenter ? '0 0 28%' : '0 0 18%'}" colspan="3">
                                            </td>
                                        </tr>

                                    </ng-template>
                                </p-table>

                            </div>
                        </div>
                    </div>
                    <div class="tab-content__pane" id="f02">
                        <div class="intro-y box px-5 pt-5">
                            <app-app-general-attachment [voucherId]="voucherId"></app-app-general-attachment>
                        </div>
                    </div>
                    <div class="tab-content__pane" id="f03" *ngIf="voucherId && voucherId > 0">
                        <div class="intro-y box px-5 pt-5">
                            <app-financialvoucher [voucherId]="voucherId" [voucherType]="voucherType"></app-financialvoucher>
                        </div>
                    </div>
                </div>

                <br>
                <label *ngIf="showBalance" class="control-label font-weight-bold" style="color: rgb(255, 0, 0); font-size: large;">                    
                    {{this.NoteBalance}}
                </label>

                <label *ngIf="showAlert" class="control-label font-weight-bold" style="color: rgb(255, 0, 0); font-size: large;">                    
                    {{NoteAlert|translate}}
                </label>
                
                <label *ngIf="showPrevent" class="control-label font-weight-bold" style="color: rgb(255, 0, 0); font-size: large;">                    
                    {{NotePrevenet|translate}}
                </label>
                

<br>
                <label *ngIf="showBalanceDealer" class="control-label font-weight-bold" style="color: rgb(255, 0, 0); font-size: large;">                    
                    {{this.NoteDealerBalance}}
                </label>
                <label *ngIf="showAlertDealer" class="control-label font-weight-bold" style="color: rgb(255, 0, 0); font-size: large;">                    
                    {{NoteDealerAlert|translate}}
                </label>
                <label *ngIf="showPreventDealer" class="control-label font-weight-bold" style="color: rgb(255, 0, 0); font-size: large;">                    
                    {{NoteDealerPrevenet|translate}}
                </label>

            </div>
            <div class="grid grid-cols-12 gap-5 pt-5">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1">
                    <input type="checkbox" id="tempSave" class="input border mr-2 mr-3 ml-3">
                    <label class="cursor-pointer select-none w-full" for="isActive">{{"TempSave"|translate}}</label>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-12 xxl:col-span-12 cursor-pointer mt-1" mat-dialog-actions align="end">
                <p-button label='{{"Save"|translate}}' icon="pi pi-save" class="ml-4"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    [disabled]="SalesServiceInvoiceAddForm.invalid || disableSave" type="submit"
                    [hidden]="this.opType == 'Show'"></p-button>
                <p-button label='{{"Print"|translate}}' icon="pi pi-print" class="ml-4" (click)="PrintCustservicesalesinv(this.SalesServiceInvoiceAddForm.value.id)"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    [disabled]="SalesServiceInvoiceAddForm.invalid || !this.validDate" type="button"
                    [hidden]="this.opType == 'Show'"></p-button>
                <p-button label='{{"Delete"|translate}}' color="warn" icon="pi pi-trash" class="ml-4"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-1 text-white p-button p-component"
                    [disabled]="SalesServiceInvoiceAddForm.invalid" type="button" [hidden]="this.opType == 'Show'"
                    (click)="DeletePurServiceInvoice(SalesServiceInvoiceAddForm.value.id)"></p-button>
                <p-button label='{{"Cancel"|translate}}' color="warn" icon="pi pi-undo"
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2  items-center justify-center bg-theme-6 text-white p-button p-component"
                    [routerLink]="['/ServicesSalesInv/CustServiceSalesInvoiceList']"></p-button>
            </div>
        </form>
    </div>
</div>


<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>