<div class="container">   
    <p-table #dt [value]="tabelData" [rows]="10" [paginator]="true" 
        [globalFilterFields]="['plateNo','vehicleType','vehicleDriver','date','manitResponsible','movementChief']"
        styleClass="p-datatable-gridlines" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{{'showing'|translate}} {first} {{'to'|translate}}  {last} {{'of'|translate}} {totalRecords} {{'entries'|translate}}"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" paginatorDropdownAppendTo="body">
        <ng-template pTemplate="caption">
            
            <div class="grid grid-cols-12 gap-5 ">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 mb-5 ">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="pInputText input border w-full mt-1 " pInputText type="text"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder=' {{"search"|translate}} ' />
                    </span>                    
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-4">
                    <p-button label='{{"AddNew"|translate}}'
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2 items-center justify-center bg-theme-1 text-white p-button p-component"
                    icon="pi pi-plus" (click)="AddPurRequestForm(0)"></p-button>
                </div>                 
            
                
                <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mt-5 text-left">
                    <i class="pi pi-star-fill" 
                        [ngClass]="{'custom-star-icon': custom, 'custom-star-icon2': !custom}"
                        (click)="updateFavourite(this.screenId)"
                        title= "{{'AddToFavourite' | translate}}"
                        tooltipposition="bottom">
                    </i>
                    <button title="{{'ExportToExcel' | translate}}" class="mr-2" type="button" pbutton=""
                    pripple="" icon="pi pi-file-excel" ptooltip="XLS" (click)="exportExcel(dt)"
                    tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                    <img src="../../../../assets/dist/images/icons/excel.svg" width="20px" alt="Excel Icon">
                    </button>
                    <button title="{{'ExportToPdf' | translate}}" class="mr-2" type="button" pbutton=""
                            pripple="" icon="pi pi-file-excel" ptooltip="PDF" (click)="exportPdf(dt)"
                            tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                            <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px" alt="PDF Icon">
                    </button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>                
                <th class="head_tb" pSortableColumn="id">{{"transNo"|translate}} <p-sortIcon field="id"></p-sortIcon></th>
                <th class="head_tb" pSortableColumn="plateNo">{{"MechanismNo"|translate}} <p-sortIcon field="plateNo"></p-sortIcon></th>
                <th class="head_tb" pSortableColumn="vehicleType">{{"MechanismType"|translate}} <p-sortIcon field="vehicleType"></p-sortIcon></th>
                <th class="head_tb" pSortableColumn="vehicleDriver">{{"ExpensesOn"|translate}} <p-sortIcon field="vehicleDriver"></p-sortIcon>
                <th class="head_tb" pSortableColumn="date">{{"Date"|translate}} <p-sortIcon field="date"></p-sortIcon></th>                       
                <th class="head_tb" pSortableColumn="manitResponsible">{{"MaintenanceResbonsible"|translate}} <p-sortIcon field="manitResponsible"></p-sortIcon></th>
                <th class="head_tb" pSortableColumn="movementChief">{{"MovementChife"|translate}} <p-sortIcon field="movementChief"></p-sortIcon></th>                
                <th style="text-align: justify;"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
            </tr>            
        </ng-template>
        <ng-template pTemplate="body" class=".p-datatable-tbody " let-vol >
            <tr>
                <td style="text-align: justify;">{{vol.id}}</td>
                <td style="text-align: justify;">{{vol.plateNo}}</td>
                <td style="text-align: justify;">{{vol.vehicleType}}</td>
                <td style="text-align: justify;">{{vol.vehicleDriver}}</td>
                <td style="text-align: justify;">{{vol.date |date:'yyyy/MM/dd'}}</td>
                <td style="text-align: justify;">{{vol.manitResponsible}}</td>
                <td style="text-align: justify;">{{vol.movementChief}}</td>
                <td>
                    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                        <mat-icon class="">more_vert</mat-icon>
                    </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="OpenDetailsForm(vol.id)"> 
                            <i class="material-icons" style="color:blue">visibility</i> &nbsp;{{"showDetails"|translate}} 
                        </button>

                        <button mat-menu-item (click)="OpenPurRequestForm(vol.id,false)" >
                            <i class="material-icons" style="color:green">edit</i> &nbsp;{{"Edit"|translate}}  
                        </button>

                        <button mat-menu-item (click)="DeleteVolunteer(vol.id)" > 
                            <i class="material-icons" style="color:red">delete</i> &nbsp;{{"Delete"|translate}}
                         </button>

                        <button mat-menu-item (click)="PrintVolunteer(vol.id)"> 
                            <i class="material-icons" style="color:rgba(0, 119, 255, 0.836)">print</i> &nbsp;{{"PrintAction"|translate}} 
                        </button> 


                        <!-- <button mat-menu-item (click)="AttachmentEntryvoucher(vol.id)"> 
                            <i class="material-icons" style="color:black">attachment</i> &nbsp;{{"Attachments"|translate}} </button>                         -->
                    </mat-menu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="odd">
                <td style="vertical-align: top;" colspan="8"> {{"noEntriesFoundLabel"|translate}}</td>
            </tr>
        </ng-template>

        <!-- <ng-template pTemplate="footer">
            <tr>
                <td style="vertical-align: top;" colspan="2"> </td>
                <td>{{"total"|translate}}</td>
                <td>{{CalculateTotal()}}</td>
                <td colspan="6"></td>
            </tr>
        </ng-template> -->

    </p-table>
</div>
<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>