<div class="container">
    <p-table #dt [value]="tabelData" [rows]="10" [paginator]="true" 
   [globalFilterFields]="['offerNameA','offerNameE','priority','fromDate','toDate','branchName','note','active']"
    styleClass="p-datatable-gridlines" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{{'showing'|translate}} {first} {{'to'|translate}}  {last} {{'of'|translate}} {totalRecords} {{'entries'|translate}}"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" paginatorDropdownAppendTo="body">

        <ng-template pTemplate="caption">
            <div class="grid grid-cols-12 gap-5 ">
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-1 mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="pInputText input border w-full mt-1" pInputText type="text"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder=' {{"search"|translate}} ' />
                    </span>
                </div>
                <div class="col-span-12 sm:col-span-2 xxl:col-span-2 cursor-pointer mt-4 ">
                    <p-button label='{{"AddNew"|translate}}'
                    styleClass="p-ripple p-element button w-32 mr-2 mb-2 items-center justify-center bg-theme-1 text-white p-button p-component"
                    icon="pi pi-plus" (click)="AddNewItemsOffers(0)"></p-button>
                </div> 
                <div class="col-span-12 sm:col-span-8 xxl:col-span-8 cursor-pointer mt-5" align="end">
                    <i class="pi pi-star-fill" 
                        [ngClass]="{'custom-star-icon': custom, 'custom-star-icon2': !custom}"
                        (click)="updateFavourite(this.screenId)"
                        title= "{{'AddToFavourite' | translate}}"
                        tooltipposition="bottom">
                    </i>
                    <button title="{{'ExportToExcel' | translate}}" class="mr-2" type="button" pbutton=""
                    pripple="" icon="pi pi-file-excel" ptooltip="XLS" (click)="exportExcel()"
                    tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                    <img src="../../../../assets/dist/images/icons/excel.svg" width="20px">
                    </button>
                    <button title="{{'ExportToPdf' | translate}}" class="mr-2" type="button" pbutton=""
                            pripple="" icon="pi pi-file-excel" ptooltip="PDF" (click)="exportPdf()"
                            tooltipposition="bottom" class="button px-2 mr-1 mb-2 text-gray-700">
                            <img src="../../../../assets/dist/images/icons/pdf.svg" width="20px">
                    </button>
                </div>
            </div>
        </ng-template>


        <ng-template pTemplate="header">
            <tr>
                <th class="head_tb" pSortableColumn="offerNameA">{{"OfferNumber"|translate}} <p-sortIcon field="offerNameA"></p-sortIcon></th>
                <th class="head_tb" pSortableColumn="offerNameE">{{"OfferName"|translate}} <p-sortIcon field="offerNameE"></p-sortIcon></th>                
                <th class="head_tb" pSortableColumn="priority">{{"Priority"|translate}} <p-sortIcon field="priority"></p-sortIcon>
                <th class="head_tb" pSortableColumn="fromDate">{{"FromDate"|translate}} <p-sortIcon field="fromDate"></p-sortIcon></th>
                <th class="head_tb" pSortableColumn="toDate">{{"ToDate"|translate}} <p-sortIcon field="toDate"></p-sortIcon></th>
                <th class="head_tb" pSortableColumn="branchName">{{"branch"|translate}} <p-sortIcon field="branchName"></p-sortIcon></th>
                <th class="head_tb" pSortableColumn="note">{{"Note"|translate}} <p-sortIcon field="note"></p-sortIcon></th>
                <th class="head_tb" pSortableColumn="active">{{"Active"|translate}} <p-sortIcon field="active"></p-sortIcon></th>
                <th class="text-center-m w-0"><i class="pi pi-cog" style="font-size: 1.2rem"></i></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" class=".p-datatable-tbody " let-Offer>
            <tr>
                <td >{{Offer.id}}</td>
                <td >{{Offer.offerName}}</td>  
                <td >{{Offer.priority}}</td>              
                <td >{{Offer.fromDate|date:'yyyy/MM/dd'}}</td>
                <td >{{Offer.toDate|date:'yyyy/MM/dd'}}</td>
                <td >{{Offer.branchName}}</td>
                <td >{{Offer.note}}</td>
                <td><input type="checkbox" disabled="true" [checked]="Offer.active" class="pl-16" /></td>

                <td style="width:5%">
                    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                        <mat-icon class="">more_vert</mat-icon>
                    </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="ShowDetailsOnly(Offer.id)"> 
                            <i class="material-icons" style="color:blue">visibility</i> &nbsp;{{"showDetails"|translate}} 
                        </button>

                        <button mat-menu-item (click)="EditItemsOffers(Offer.id)" >
                            <i class="material-icons" style="color:green">edit</i> &nbsp;{{"Edit"|translate}} 
                        </button>

                        <button mat-menu-item (click)="DeleteItemsOffers(Offer.id,Offer.voucherTypeId,Offer.voucherNo)" > 
                            <i class="material-icons" style="color:red">delete</i> &nbsp;{{"Delete"|translate}} 
                        </button>

                        <button mat-menu-item (click)="CopyItemsOffers(Offer.id)"> 
                            <i class="material-icons" style="color:rgba(0, 255, 242, 0.507)">file_copy</i> &nbsp;{{"VoucherCopy"|translate}} 
                        </button> 

                        <button mat-menu-item (click)="PrintItemsOffers(Offer.id)"> 
                            <i class="material-icons" style="color:rgba(0, 119, 255, 0.836)">print</i> &nbsp;{{"PrintAction"|translate}} 
                        </button>
                                     
                    </mat-menu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="odd">
                <td valign="top" colspan="9"> {{"noEntriesFoundLabel"|translate}}</td>
            </tr>
        </ng-template>
        
    </p-table>
</div>
<div class="loading-indicator" [hidden]="!showLoader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>